<!DOCTYPE html>
<html ng-app="demoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="x5-fullscreen" content="true">
<meta name="full-screen" content="yes">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/index-gouwuche.css"/>
	 <link rel="stylesheet" href="css/ionic.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/resets.css">
    <link rel="stylesheet" href="css/fenleis.css">
   
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <title>我的购物车</title>
    <script type="text/javascript" src="js/stopIOS.js"></script>
    <script src="js/index-gouwuche.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
	     html,body {
		    width:100%;
		    height:100%;
			overflow:hidden;
			margin: 0;
			padding:0;
            background: #ffffff;
        }
        .clear {
            zoom: 1;
        }
        .clear:after {
            display: block;
            content: '.';
            clear: both;
            overflow: hidden;
            height: 0;
            visibility: hidden;
        }

       
        .navbar-header{
            background: #fff;
        }
        .ng-cloak {
            display: none;
        }
        .col-xs-12{
            padding-right: 0;
            padding-left: 0.1rem;
            height: 1.23rem;
            margin: 0;
        }
        .order-font{
            width: 2.4rem;
            height: 0.4rem;
            font-size: 0.14rem;
            color: #1c1c1c;
            font-family:PingFangSC-Regular;
            line-height: 0.2rem;
        }
        .order1-info{
            height: 100%;
            padding-left: 0.16rem;
            padding-right: 0.06rem;
        }
        #nones {
            display: none;
        }
        .tu1{display:black;}
        .tu0{display:none;}
        #cont_list{
            height: 5.25rem;
            padding-bottom: 0.62rem;
        }
        /*数字键盘*/
        .soft_wrapper{
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 3rem;
            z-index: 10000;
            border-top: 1px solid #e1dadc;
            background: #f4f6f5;
        }
        .closeSoft{
            height: 0.34rem;
            border-bottom: 1px solid #dcdcdc;
            background: url(images/hideSoft.png) no-repeat center center #f4f6f5;
            background-size: 0.34rem 0.09rem;
        }
        .numList{
            display: flex;
        }
        .numList li{
            flex: 1;
            text-align: center;
            height: 0.69rem;
            border-right: 1px solid #333;
            border-bottom: 1px solid #333;
            border-left: none;
            font-size: 0.26rem;
            line-height: 0.68rem;
            background:#f4f6f5;
        }
        .numList li:last-child{
            border-right: none;
        }
        .numList .deletNum{
            background: url(images/deleteNum.png) no-repeat center center #e0e0e0;
            background-size: 0.4rem 0.25rem;
        }
        .numList .clearVal{
            background: #e0e0e0;
        }
        @media only screen and (max-width:340px){
            .gouwu_tishi{
                width: 1rem !important;
            }
            #cont_list{
                height: 5.65rem;
                padding-bottom: 0.2rem;
            }
        }
		.foot{ 
        /*margin-left: -2.2%; */
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
		-webkit-transform: translateZ(0);
		
        } 
        .foot ul{ 
        margin:0; 
        padding:0; 
        width:100%; 
		-webkit-transform: translateZ(0); 
        line-height: 100%; 
        } 
        .foot ul li span{ 
        display: inline-block; 
        width: 100%; 
        text-align: center; 
        margin-top:5px;
		margin-bottom:1px; 
		-webkit-transform: translateZ(0); 
        } 
        .spinner svg{
            stroke: #e85a5d;
            width: 40px;
            height: 40px;
          } 
        .loading-container{
          background: #edecf0;
          top: 0.5rem;
        } 
        .loading-container .loading{
         /* background: #fff;*/
          padding: 0;
          width: 0.5rem;
          height: 0.5rem;
        }
		.gray0{
		color:#CCCCCC;
		}
		.gray1{
		color:#1c1c1c;
		}
		.red0{
		color:#CCCCCC;
		}
		.red1{
		color:#ff0000;
		}
		.index_body {
    overflow-y: hidden;/*为了兼容普通PC的浏览器*/
    height: 100%;
    position: fixed;  
}
    </style>
</head>

<body ng-controller="DemoCtrl" class="ng-cloak index_body" ng-cloak>
<!-- <div class="strip block{{block}}"  style="position:absolute; z-index:99">
    <div class="sk-circle1 strip-ios"></div>
    <div class="sk-circle2 strip-ios"></div>
    <div class="sk-circle3 strip-ios"></div>
    <div class="sk-circle4 strip-ios"></div>
    <div class="sk-circle5 strip-ios"></div>
    <div class="sk-circle6 strip-ios"></div>
    <div class="sk-circle7 strip-ios"></div>
    <div class="sk-circle8 strip-ios"></div>
    <div class="sk-circle9 strip-ios"></div>
    <div class="sk-circle10 strip-ios"></div>
    <div class="sk-circle11 strip-ios"></div>
    <div class="sk-circle12 strip-ios"></div>
</div> -->

<div class="containe" style="height: 100%;padding-bottom: 0.49rem;-webkit-overflow-scrolling: touch;">
    <div class="xian" style="height: 2px;width: 100%;background-color:#ccc;"></div>


            <!-- <div class="header-nav">
                <div class="header_wrapper" style="text-align: center;font-weight:600;overflow: hidden;zoom:1;height: 0.4rem;line-height: 0.4rem;font-size: 0.17rem;color: #1c1c1c;letter-spacing:
    0;" class="clear f18"> <span onClick="javascript:window.history.go(-1);return false;" style="display: block;float:left;padding: 0 0.16rem;height: 100%;"> <img src="images/fanhui.png" alt="" style="height: 0.18rem;width: 0.13rem;display: block;margin-top: 0.12rem;"> </span>购物车<a href="closeInAppBrowser.html" style="display: block;float:right;height: 100%;padding: 0 0.15rem;"> <img src="images/y-guanbi.png" alt="" style="height: 0.16rem;width: 0.16rem;display: block;margin-top: 0.12rem;"> </a> </div>
            </div> -->


    <!-- <div style="margin-top:0.5rem"></div> -->
      <div ng-if="allNum =='0'" style="margin:0 auto;position:absolute;top:2.18rem;left:1.49rem;z-index:999;"><img src="./images/cart3.png" style="width:0.8rem;height:0.8rem;">
         <h4 class="gouwu_tishi" style="position: absolute;left: -0.1rem;top:0.96rem;font-family: STHeitiSC-Medium;color: #959595;font-size: 0.14rem;width: 1.2rem;margin: 0;">去添加点什么吧</h4>
      </div>
    <div id="cont_list" style="overflow-x: hidden;background: #fff;">
    <div class="center ng-cloak" ng-cloak id="scrollWrap">
        <div class="col-xs-12 row-class" ondelete="remove($index)" slide-delete text="删除" ng-repeat="item in listss" id="none{{$index}}" ng-claoak>
            <div class="order1" ng-cloak>
				<span class="head1-font" style="position: absolute;top: 0">
				<!--复选框-->
				<input type="checkbox" id="{{item.skuId}}" name="group1" ng-click="checkItem(item.skuId,item.state)" ng-model="item.checked"/>
                <label for="{{item.skuId}}"  ng-if='item.state==1'></label>
				<label  data-role="none" ng-if='item.state==0'></label>
				</span>

                <div class="order1-photo-wrap" ng-cloak style="margin-left:8%;">

                    <img src="{{item.jdSkuDetailsView.imgPath}}"/>
                </div>
                <div class="order-font" ng-cloak style="margin-left:0.16rem;">
                    <p class="order1-info gray{{item.state}}" ng-cloak ng-bind="item.skuName"></p>
                </div>
                <div class="order1-spec-money-wrap" style="margin-left:15%;">
                    <div class="order1-spec-money red{{item.state}}" style="margin-left:4%;" ng-cloak>￥{{item.jdSkuDetailsView.price}}</div>
					<div class="numbers" ng-cloak>
						<span ng-click="reduce($index)" ng-class="{'number-jian':item.skuNum <= 1,'number-jian2':item.skuNum > 1}"></span>  
						<input readonly style="padding-top: 0;height: 0.25rem;border-left: 1px solid #c5c5c5;border-right: 1px solid #c5c5c5;" type="tel" value="{{item.skuNum}}" class="number" id="number{{$index}}" ng-model="item.skuNum"
                               name="{{item.price}}" ng-change="change($index)" />
						<span ng-click="add($index)" class="number-jia"></span>              
					</div>
                    <!-- <button ng-click="remove($index)"
                             style="font-size:0.14rem;background: #999;color: #fff;border-radius: 4px;height: 0.2rem;width: 0.5rem;line-height: 0.2rem;display: inline-block;position:relative;left:40%;"
                             ng-cloak>移除
                    </button> -->
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- <div class="soft_wrapper">
        <div class="numWrapper">
            <div class="closeSoft"></div>
            <ul class="numList">
                <li ng-click="editNum($event)" class="numberBoard">1</li>
                <li ng-click="editNum($event)" class="numberBoard">2</li>
                <li ng-click="editNum($event)" class="numberBoard">3</li>
            </ul>
            <ul class="numList">
                <li ng-click="editNum($event)" class="numberBoard">4</li>
                <li ng-click="editNum($event)" class="numberBoard">5</li>
                <li ng-click="editNum($event)" class="numberBoard">6</li>
            </ul>
            <ul class="numList">
                <li ng-click="editNum($event)" class="numberBoard">7</li>
                <li ng-click="editNum($event)" class="numberBoard">8</li>
                <li ng-click="editNum($event)" class="numberBoard">9</li>
            </ul>
            <ul class="numList">
                <li class="clearVal"></li>
                <li ng-click="editNum($event)" class="number">0</li>
                <li ng-click="clearInput()" class="deletNum"></li>
            </ul>
        </div>
    </div> -->
   
    <div class="SHOE" ng-if="shownow">
        <p>没有更多的数据了···</p>
    </div>
</div>


    <div class="foot" style="position:absolute; bottom:0; background:#FFFFFF; width:100%;-webkit-transform: translateZ(0); ">
	<div style="width:100%; height:100%; background:#FFFFFF">
	     <div class="footer1" style="-webkit-transform: translateZ(0);margin-bottom:0%;">
        <div class="footer1-left">
            <span class="footer1-left-top">总计:<span style="color: #c31219;">￥</span></span><span
                class="footer1-left-top-money ng-cloak" ng-cloak style="text-align: right;color: #c31219;">{{totalQuantity() | number:2}}</span>
            <br/>
            <span ng-if="numbs=='0'" class="footer1-left-bottom">不含运费，已优惠{{totalQuantity() | number:2}}元<!-- ({{numbs}}) 件--></span>
            <span ng-if="numbs!='0'" class="footer1-left-bottom" style="text-align: right;">不含运费<!-- ({{numbs}}) 件--></span>
        </div>
        <!--hui-->
        <a class="ok-button ng-cloak" ng-cloak name="{{totalQuantity()}}" ng-click="submit()" ng-if="numbs!='0'" style="color: #fff;">去结算<span>({{numbs}}件)</span></a>
        <a class="ok-button" name="{{totalQuantity()}}" ng-click="submit()" ng-if="numbs=='0'"
           style="background:#c5c5c5;">去结算<span>(0件)</span></a>
        <a  href="javascript:;" class="all_button ng-cloak" style="color:#8c8c8c;">
            <span ng-if="allNum =='0'" class="check_all"></span>
            <span ng-if="allNum !='0'" class="check_all" style="background: none;">
                <input type="checkbox"  value="{{ched}}"  id="ched" ng-checked="checks" ng-click="all()">
                <label for="ched"></label>
            </span>
            <span style="position: absolute;left: 0.13rem;top: 0.3rem;">全选</span>
        </a>
    </div>
                <ul class="footer">
                    <li style="padding-top: 0.07rem;">
                        <a  href="./index.html">
                            <img alt="首页" src="images/shouye2.png"/>
                            <span>
                                首页
                            </span>
                        </a>
                    </li>
                    <li class="active-nav" style="padding-top: 0.07rem;">
                        <a href="./cart.html"  class="active-nav">
                            <img alt="购物车" src="images/gouwuche2.png"/>
                            <span>
                                购物车
                            </span>
                        </a>
                    </li>
                    <li style="padding-top: 0.07rem;">
                        <a href="./mycart.html">
                            <img alt="我的" src="images/wode1.png"/>
                            <span>
                                我的
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
	</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script src="js/jd.js"></script>
<script src="js/TouchSlide.js"></script>
<script src="angular/angular.min.js"></script>
<script src="js/ionic.bundle.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
    /*$('#show').click(function () {
        $('.search-sort-list').toggle();
    });*/
	$('.foot').on('touchmove', function(event) {
                event.preventDefault();
				 $(".containe").unbind("touchmove");
				
            });
	
    $('.soft_wrapper').hide();
    var app = angular.module('demoApp', ["ionic"]);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http","$ionicLoading", function ($scope, $rootScope, $sce, $http,$ionicLoading) {
    $ionicLoading.show({
       template:'<ion-spinner icon="android"></ion-spinner>',
           //content: '正在加载...',
           animation: 'fade-in',
           showBackdrop: false,
           maxWidth: 200,
           showDelay: 0
   });
        $scope.tu=0;
        $scope.numbs =0;
		$scope.all =0;
		$scope.ched = 0;  //全选
        var token = api();
        $scope.hui = 0;
        $http({
            async:true ,
            crossDomain: true,
            method: 'GET',
            url: "/jd/api/shoppingcarts",
//            url:"http://apistage.huilianyi.com/jd/api/shoppingcarts",
            headers: {
                'Authorization': "Bearer" + token + "",
                'cache-control': "no-cache",
                'postman-token': '00a70b0c-0756-adfe-3928-af0e1bbdc95f'
            }  //请求头里会添加Authorization属性为'code_bunny'
        }).success(function (data, status, headers, config) {
            var objs = data.body;
            console.log(objs);
            $scope.listss = objs;
            $ionicLoading.hide();
            /*console.log($scope.listss);*/
            /*$scope.listid = datalist;*/
            //判断购物车列表是否有商品
            var shownow = false;
            var objnum = $scope.listss.length;
            console.log(objnum);
            for(var SHow = 0; SHow++;SHow <= objnum){
                if( SHow == objnum){
                   $scope.shownow = true;
//                   return;
                }else{
                    $scope.shownow = false;
                }
            }

            if( objnum == 0 ){
                $scope.allNum = 0;
            }else {
                $scope.allNum = 1;
            }
            $scope.reduce = function (index) {

                if ($scope.listss[index].skuNum > 1) {
                    $scope.listss[index].skuNum--;
                }

            };

            //添加数量函数
            $scope.add = function (index) {
                $scope.listss[index].skuNum++;
            };
            //选中listss里面的一项
            $scope.checkItem = function(id,state){
			 if(state==0){
				    $scope.checks = false;
				    layer.open({
                        content: '此商品已下架！'
                        , skin: 'msg'
                        , time: 3 //2秒后自动关闭
                    });
			 }
			 else{
                var checkArr = [];
                angular.forEach($scope.listss,function(value,key){
                    if( value.checked ){
                        checkArr.push(value);
                    }
                });
                if ( checkArr.length == $scope.listss.length ){
                    $scope.checks = true;
                }else{ 
                    $scope.checks = false;
                }
			 }
            }
            //全选按钮
            $scope.all = function () {
                $scope.checks = !$scope.checks;
                if( $scope.checks ){
                    angular.forEach($scope.listss,function(value,key){
                        if(value.state==1){
                        value.checked = true;
						}
						else{
						value.checked = false;
						}
                    });
                }else{ 
                    angular.forEach($scope.listss,function(value,key){
                        value.checked = false;
                    });
                }
               //$scope.ched = 1;
               //$scope.totals = 0;
               //$scope.totalsnum = 0;
              //初始化设置状态 
              //init(checks); 
              //var cids = [];
    //           angular.forEach($scope.dataList, function (value, key) {
    //                cids[key] = value.cid;
    //                if (checks) {
    //                   if( $scope.vip==1){
    //                     $scope.totals = parseFloat($scope.totals  + value.pricevip * value.num);
    //                   }else{
    //                   $scope.totals = parseFloat($scope.totals  + value.price * value.num);   
    //                  }
    //                     $scope.totalsnum =parseFloat($scope.totalsnum +value.num);
    //            
    //                    if (value.cat_id==1) {
    //                      $scope.totalkg1 = accAdd($scope.totalkg1,accMul(value.num,value.kg));//种子
    //                    }
    //                    
    //                    if (value.cat_id==2) {
    //                       $scope.totalkg2 = accAdd($scope.totalkg2,accMul(value.num,value.kg));//其他
    //                    };
    //                    $scope.totalkgs = accAdd($scope.totalkg2,accDiv($scope.totalkg1,1000));
    //                   $scope.load = 1;
    //                }else{
    //                 $scope.ched = 0; 
    //                }
    //
    //            });
                
                /*if(checks === true){
                  checked = 1;
                }else{
                  checked = 0;
                }*/
            
            } 
            //减少数量函数
            $scope.totalQuantity = function () {
                $scope.total = 0;
                var numbs = [];
				
                angular.forEach($scope.listss, function (value, key) {
                    if (value.checked) {
                        var num = Number(value.skuNum);
                        numbs.push(num);
                       // 控制结算按钮的颜色变化
                        $scope.total =parseFloat($scope.total) + parseFloat(value.jdSkuDetailsView.price) * parseInt(value.skuNum);
                        $scope.hui = 1;
                    }
                    if (value.checked == '0') {
                        $scope.hui = 0;
                    }
 

                });

                var result = 0;
                for (var i = 0; i < numbs.length; i++) {
                    result += numbs[i];
                }
                $scope.numbs = result;
                return $scope.total;
            };
            //获取用户选择的商品及数量
            $scope.submit = function () {
                var goods_id = [];
                var goods_num = [];
                angular.forEach($scope.listss, function (value, key) {
                    if (value.checked) {
                        var id = value.skuId;
                        var num = value.skuNum;
                        goods_id.push(id);

                        goods_num.push(num);
                    }
                });
                if (goods_id == '') {
                    layer.open({
                        content: '请选择商品及数量'
                        , skin: 'msg'
                        , time: 3 //2秒后自动关闭
                    });
                    return false;
                }
                var sum = parseFloat($(".ok-button").attr('name')).toFixed(2);

                window.location.href = "./querendingdan.html?sku=" + goods_id + "?num=" + goods_num + "?price=" + sum + "?number=0?inid=0";
            };
            //点击输入框调出软键盘
            var inpuNum = null;
            /*$scope.showSoft = function(index){
               // console.log($("#number"+index).offset().top);
                $('.soft_wrapper').show();
                return inpuNum = index;;
            }
            $scope.editNum = function ($event){
                var inputCon = String($scope.listss[inpuNum].state);
                if( inputCon.length > 2 ) return;
                inputCon = inputCon + $event.target.innerHTML;
                $scope.listss[inpuNum].state = Number(inputCon);
            }
            $scope.clearInput = function(){
                var inputCon = String($scope.listss[inpuNum].state);
                inputCon = inputCon.substring(-1,inputCon.length-1);
                console.log(inputCon.length);
                if( inputCon.length < 1 ){
                    inputCon = '';
                    return ;
                }
                $scope.listss[inpuNum].state = Number(inputCon);
            }*/
            //删除用户选中的商品
            $scope.remove = function (index) {
			 
                var lsit = $scope.listss[index];
				//console.log(lsit);
                var skusp = lsit.skuId;
				
                var token = api();
                $scope.listss.splice(index, 1);
                 var objnum = $scope.listss.length;
                if( objnum == 0 ){
                    $scope.allNum = 0;
                }else {
                    $scope.allNum = 1;
                }
                $http({
                    async: false,
                    crossDomain: true,
                    method: 'DELETE',
                    url: "/jd/api/shoppingcarts/sku/" + skusp + "",
                    headers: {
                        'Authorization': "Bearer" + token + "",
                        'content-type': "application/x-www-form-urlencoded",
                        'cache-control': "no-cache",
                        'postman-token': '8f20525e-3fc4-14e1-9039-943c4175470e'
                    }  //请求头里会添加Authorization属性为'code_bunny'
                }).success(function (data, status, headers, config) {
                    //console.log(data);
                    layer.open({
                        content: '删除成功'
                        , skin: 'msg'
                        , time: 2 //2秒后自动关闭
                    });
                    /*setTimeout(function(){

                        location.reload();
                    },2000);*/

                }).error(function (data, status, headers, config) {
                });
            };
			
			//删除用户选中的商品
            $scope.deletecart = function (event) {
			
			  console.log(event);
                var lsit = $scope.listss[event];
                var skusp = lsit.sku;
				 console.log(event);
                var token = api();
                $scope.listss.splice(event, 1);
                 var objnum = $scope.listss.length;
                if( objnum == 0 ){
                    $scope.allNum = 0;
                }else {
                    $scope.allNum = 1;
                }
                $http({
                    async: false,
                    crossDomain: true,
                    method: 'DELETE',
                    url: "/jd/api/shoppingcarts/sku/" + skusp + "",
                    headers: {
                        'Authorization': "Bearer" + token + "",
                        'content-type': "application/x-www-form-urlencoded",
                        'cache-control': "no-cache",
                        'postman-token': '8f20525e-3fc4-14e1-9039-943c4175470e'
                    }  //请求头里会添加Authorization属性为'code_bunny'
                }).success(function (data, status, headers, config) {
                    //console.log(data);
                    layer.open({
                        content: '删除成功'
                        , skin: 'msg'
                        , time: 2 //2秒后自动关闭
                    });
                    /*setTimeout(function(){

                        location.reload();
                    },2000);*/

                }).error(function (data, status, headers, config) {
                });
            };

            //解决输入框输入负数时变为1
            $scope.change = function (index) {
                if ($scope.listss[index].state >= 1) {

                } else {
                    $scope.listss[index].state = 1;
                }

            };

            $scope.$watch('item.state', function (oldvalue, newvalue) {

                // console.log(oldvalue);
                // console.log(newvalue);
            })
        }).error(function (data, status, headers, config) {
            layer.open({
                content: '用户信息错误'
                , skin: 'msg'
                , time: 3 //2秒后自动关闭
            });
          //  window.location.href = "./closeInAppBrowser.html";
        });
        //关闭页面返回汇易联
        $scope.off = function () {


            window.location.href = "./closeInAppBrowser.html";

        };
        //打开我的订单
        $scope.cartme = function () {


            window.location.href = "./mycart.html";

        };
		
		
		
		 //初始化 
        var init = function (sel) { 
          for(var i = 0; i < $scope.dataList.length; i++) { 
            //sel没有值 默认初始化false
			
			if(sel==2){
			 
            $scope.chkItem[i] = $scope.dataList[i].selected ;//|| false;
			}
			else{
				$scope.chkItem[i] = sel || false;
			}
          } 
        }
        $scope.block=0;
        $(function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
            var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid) {
                //alert("安卓果机！")
                $scope.block=1;
            }
            if (isIOS) {
                //alert("苹果果机！")
                $scope.block=0;
            }
        });
    }]);
    app.directive('slideDelete', function() {
        return {
        restrict: 'AE',
        scope: {
            text: "@",
            ondelete: "&"
        },
        link: function (scope, element, attrs) {
            (function($){
                $.fn.slideable = function(options){
                    var self = this;
                    self.options = options;
                    self.left = 0;
                    self.down = 0;
                    self.pressed = false;
                    self.bindobj = options.bindobj || self;
                    self.bindobj.bind("mousedown",function(event){ onmousedown(self, event); })
                    self.bindobj.bind("mousemove",function(event){ onmousemove(self, event); })
                    self.bindobj.bind("mouseup" ,function(event){ onmouseup (self, event); })
                    self.bindobj[0].addEventListener('touchstart', function(event) { 
					onmousedown(self, {screenX: event.changedTouches[0].pageX,screenY: event.changedTouches[0].pageY}); 
					
					})
                    self.bindobj[0].addEventListener('touchmove' , function(event) { 
					onmousemove(self, {screenX: event.changedTouches[0].pageX,screenY: event.changedTouches[0].pageY});
					})
                    self.bindobj[0].addEventListener('touchend' , function(event) { 
					onmouseup (self, {screenX: event.changedTouches[0].pageX,screenY: event.changedTouches[0].pageY}); 
					})
					//console.log(this);
                    return this;
                }
				var run=0;
                function onmousedown(self, event){
				    $("body").bind("touchmove",function(e){ e.preventDefault();});
					$(".containe").bind("touchmove",function(e){ e.stopPropagation();});
                    self.down = event.screenX;
					self.top = event.screenY;
					//console.log(self);
					console.log(event.screenY);
                    self.options.onmousedown && self.options.onmousedown(self);
                    self.left = self.options.getLeft && self.options.getLeft(self) || 0;
                    self.pressed = true;
                }
                function onmousemove(self, event){
				//console.log(event.screenX - self.down);
//					
//					if((self.left + event.screenX - self.down)<-60&&run==0&&Math.abs(event.screenX-self.down)>80){
//					console.log(self.left + event.screenX - self.down);
//					run=1;
//					//console.log();
//                    
//					}
                }
                function onmouseup(self, event){
				  // console.log(self);
				  
					//console.log(Math.abs(event.screenY-self.top));
                    self.pressed = false;
					self.top2 = event.screenY;
					run=0;
					if((self.left + event.screenX - self.down)<-60&&run==0&&Math.abs(event.screenY-self.top)<30){
					 // console.log(self.left + event.screenX - self.down);
					  run=1;
					  self.pressed && self.options.setLeft&& self.options.setLeft(self, self.left + event.screenX - self.down);
					  self.left += event.screenX - self.down;
                      self.options.onslide && self.options.onslide(self, self.left);
					}
					if(event.screenX > self.down){
					// console.log(self.down+'--'+event.screenX);
					 self.options.backslide && self.options.backslide(self, self.left);
					}
                   
                }
                //背景功能
                // $.fixedBackground = function(z_index, b_show){
                //     var bk = $('#fixed-background-'+z_index+'');
                //     if(!b_show)return bk && bk.remove();
                //     if(!(bk && bk.length>0)){
                //     bk = $('<div id="fixed-background-'+z_index+'" style="position:fixed;z-index:'+z_index+';left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,0)">');
                //     $("body").append(bk);
                //     }
                //     return bk;
                // }
            })(jQuery);

            var w = $(element).outerWidth ();//应显示的宽度
            var h = $(element).outerHeight();//应显示的高度
			var select_item="";
            //按钮宽度
            var btn_w = 60;
			var n=0;
            //设计按钮：
            scope.btn = $('<div class="del-btn" ng-click="deletecart($event)" style="position:absolute;z-index:5998;right:0;top:4px;width:60px;height:1.15rem;color:#fff;background-color:#e22f2f;text-align:center;line-height:1.15rem">'+(scope.text||'删除')+'</div>');
            //改造行,用一个绝对定位div将内容包裹起来
            $(element).contents().wrapAll('<div id="new_box" style="position:absolute;z-index:5999;left:0;top:0;width:'+w+'px;height:1.23rem;background-color:#ffffff;padding-left:10px;"></div>');
            //添加按钮：
            //划屏幕
           /* var btn  = document.getElementsByClassName('del-btn');
//            console.log(btn)
//            /!*if(btn.length > 0){
//                console.log('存在');
//                return;
//            }else{
//                console.log('不存在');
//                $(element).append(scope.btn);
            }*!/*/

           $(element).css({
				overflow: "hidden",
				position: "relative",
				"z-index": 5999
			}).append(scope.btn).slideable({
				getLeft: function(self) {
				     //document.addEventListener("touchstart",
//					function(evt) {
//						var ele = $(evt.target);
//						if (ele.hasClass("del-btn") || ele.closest(".del-btn").length == 0) {
//							if (ele.hasClass("del-btn")) {
//								// remove(index);
//							}
//						//	console.log("scope.open" + scope.open);
//							//select_item=self;
//							self.children(":first-child").animate({
//								 left:  0
//							},
//							100);
//						}
//						if (evt.target.nodeName == 'LI') {
//							$('.soft_wrapper').show();
//						} else {
//							$('.soft_wrapper').hide();
//						}
//					});
					return self.children(":first-child").position().left;
				},
				setLeft: function(self, x) {
				
				if(x<-60){
					self.children(":first-child").css({
						left: x < -btn_w && -btn_w || x < 0 && x || 0
					});
			     }
				 else{
				 return false;
				 }
				},
				onslide: function(self, x) {
					scope.open = x < -btn_w / 2;
					self.css("z-index", scope.open && 6001 || 5999);
					console.log(scope.open);
					//背景，点击收起
					// var bk = $.fixedBackground(1, scope.open);
					// scope.open && bk.data("self", self).click(function(){
					// var self = bk.data("self");
					// $.fixedBackground(6000, false);
					// self && self.css("z-index", 5999).children(":first-child").animate({left: 0},100);
					// });
					//点击非 delete button 区域收起
					
			
					self.children(":first-child").animate({left: scope.open ? -btn_w : 0},100);
				},
				backslide: function(self, x) {
				//console.log(x);
				self.children(":first-child").animate({left:0},100);
				
				}
			})
            //按钮事件
            scope.btn.click(function(){
                scope.ondelete && scope.ondelete();
                $(element).hide(500);
			    
            });
        }
    };
});
//    $(window).load(function() {
//        $(".strip").fadeOut("slow");
//    })
</script>
</body>
</html>