<!DOCTYPE html>
<html lang="zh-cn" ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>订单详情页</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ddxqddfk.css">
    <script type="text/javascript" src="js/stopIOS.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
</head>
<body ng-controller="DemoCtrl">
<!--顶部返回 开始-->
<style>
    .ng-cloak {
        display: none;
    }
    .back_fixed .s-img {
        display: inline-block;
    }
</style>
<div class="head">
    <h4 class="h4 ng-cloak"  ng-cloak ng-if="item.payStatus =='0' && item.orderState=='1' ">等待买家付款</h4>
    <h4 class="h4 ng-cloak" ng-cloak ng-if="item.payStatus=='0'&& item.orderState=='0'">订单已取消</h4>
    <h4 class="h4 ng-cloak" ng-cloak ng-if="item.payStatus=='1'&& item.submitState=='1'">买家已付款</h4>
    <p class="pay ng-cloak" ng-cloak>订单金额 (含运费):￥{{prix + listsnum}}</p>
    <p class="freight">运费:<span ng-bind="listsnum | currency:'￥'"></span></p>
    <div class="wait">
        <img src="images/shibai.png" alt="失败"  ng-if="item.payStatus =='0'">
        <img src="images/chenggong.png"  ng-if="item.payStatus=='1'&& item.submitState=='1'">
    </div>
</div>

<!--物流信息-->
<div class="logistics-wrap" ng-click="checkLogistics()">
    <div class="left-side">
        <div class="logistics-info ng-cloak" ng-cloak>{{trackInfo.content}}</div>
        <div class="logistics-date ng-cloak" ng-cloak>{{trackInfo.msgTime}}</div>
    </div>
    <div class="right-side">
        <img class="right-side-icon" src="img/right-ico.png">
    </div>
</div>
<!--头部 结束-->
<!--收件人 开始-->
<div class="detail white-bg" id="infolist">
    <div class="leftimg fl">
        <img src="images/dizhi.png"/>
    </div>
    <div class="detailr fl">
        <p class="info ng-cloak" ng-cloak>收件人:
            <span calss="xzy ng-cloak" ng-cloak>{{infoname}}</span>
            <span class="tel ng-cloak" ng-cloak>{{infophone}}</span>
        </p>

        <p class="address ng-cloak" ng-cloak>
            地址：{{pdata}}{{cdata}}{{ddata}}{{tdata}}{{address}}
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<!--收件人 结束-->
<!--店铺 开始-->
<div class="hjck white-bg ng-cloak" ng-cloak>
    <img src="images/dianpu.png" alt="店铺">
    <span>{{idname}}</span>
</div>
<!--店铺 结束-->
<!--商品 信息 开始-->
<a id="productinfo">
    <div class="goods" style="float:left;" ng-repeat="item in listss">
        <div class="dn fl ng-cloak" ng-cloak>
            <img ng-src="{{item.imagePath}}">
        </div>
        <div class="text fl">
            <p class="p">
					<span class="fl txt ng-cloak " id="txt1" ng-cloak>
						{{item.name}}
					</span>
                <span class="fr zz ng-cloak" ng-cloak>￥{{item.price}}</span>

            <div class="clearfix"></div>
            </p>
            <p class="pColor"><span class="fr ng-cloak" ng-cloak>x{{numss[$index]}}</span></p>
        </div>
        <div class="clearfix"></div>
    </div>
</a>
<!--商品 信息 结束-->
<!--费用 开始-->
<div class="fk white-bg">
    <p class="fukuan">
        <span>订单金额 (含运费) :</span>
        <span class="fr hong ng-cloak" ng-cloak>￥{{prix + listsnum}}</span>
    </p>

    <p class="huise">
        <span>运费:</span>
        <span class="fr" ng-bind="listsnum | currency:'￥'"></span>
    </p>
</div>
<!--费用 结束-->
<!--底部 开始-->
<div class="foot white-bg">
    <a class="btn1" ng-click="test()"  ng-if="item.payStatus =='0' && item.orderState=='1'">取消订单</a>
    <input  type="hidden" name="" value="{{idrd}}" id="xzy">
    <a ng-click="text(datalists)"  class="btn2" name="{{datalists}}">查看申请单</a>
</div>
<!--底部 结束-->
<script src="scripts/bridge.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="angular/angular.min.js"></script>
<script src="modules/api-service.module.js"></script>
<script src="js/jd.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script type="text/javascript">
    var str = location.href; //获取本页url地址
    var arr = str.split("?");
    var str1 = arr[1];
    var str2 = arr[2];
    var str3 = arr[3];
    var str4 = arr[4];
    var str5 = arr[5];
    var str6 = arr[6];
    if (str1) {
        var sku = str1.split("=")[1];
    }
    if (str2) {
        var num = str2.split("=")[1];
    }
    if (str3) {
        var number = str3.split("=")[1];
    }
    if (str4) {
        var jdOrderId = str4.split("=")[1];
    }
    if (str5) {
        var orders = str5.split("=")[1];
    }
    if (str5) {
        var apporder = str6.split("=")[1];
    }

    var token = api();

    var app = angular.module('demoApp', ['JDApiService']);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http", 'address', function ($scope, $rootScope, $sce, $http, addressService) {
        //根据订单号获取订单详情
        $http({
            async: true,
            crossDomain: true,
            method: "GET",
            url: "/jd/api/orders/" + jdOrderId + "",
            headers: {
                'Authorization': "Bearer" + token + "",
                'content-type': "application/x-www-form-urlencoded",
                'cache-control': "no-cache",
                'postman-token': 'ed86b9aa-8464-6e0c-b594-9bdedf5832b1'
            }
        }).success(function (datas, status, headers, config) {
            $scope.item = datas.order;
            $scope.prix = datas.order.price;

            var sku = datas.order.skus;
            var datalist = datas.order;

            $scope.datalists = datalist.approvalStatus;
            $scope.idrd = datas.order.applicationOid;
            $scope.idname = datas.order.skus[0].name;

            $scope.infoid = datalist.jdOrderAddress.id;
            $scope.infoname = datalist.jdOrderAddress.name;
            $scope.infophone = datalist.jdOrderAddress.phone;
            $scope.address = datalist.jdOrderAddress.address;
            var province = datalist.jdOrderAddress.province;
            var city = datalist.jdOrderAddress.city;
            var county = datalist.jdOrderAddress.county;
            var town = datalist.jdOrderAddress.town;
            var skuid = datalist.skus[0].jdSkuId;
            var numss = datalist.skus[0].num;

            //todo remove address request : do not delete it right now
            // ******* mock start *******//
            addressService.getName(province, city, county, town).then(function (res) {
               $scope.addressName = res;
            });
            // ******* mock end *********//
//            //====地址====
//            json_params = {};
//            var vvv = do_api("biz.address.allProvinces.query", json_params);
//            $scope.cp_class = JSON.parse(vvv);
//            var objs = $scope.cp_class.biz_address_allProvinces_query_response.result;
//            var pdata = [];
//            angular.forEach(objs, function (index, data) {
//                if (index == province) {
//                    var pros = data;
//
//                    pdata.push(pros);
//
//
//                }
//            });
//
//            $scope.pdata = pdata[0];
//            var json_params2 = {};
//            json_params2.id = province;
//
//            var vvv2 = do_api("biz.address.citysByProvinceId.query", json_params2);
//            var objs2 = JSON.parse(vvv2).biz_address_citysByProvinceId_query_response.result;
//            var cdata = [];
//            angular.forEach(objs2, function (index, datas) {
//                if (index == city) {
//                    cdata.push(datas);
//
//                }
//            });
//            $scope.cdata = cdata[0];
//            var json_params3 = {};
//            json_params3.id = city;
//            var vvv3 = do_api("biz.address.countysByCityId.query", json_params3);
//            var objs3 = JSON.parse(vvv3).biz_address_countysByCityId_query_response.result;
//            var ddata = [];
//            angular.forEach(objs3, function (index, datad) {
//                if (index == county) {
//                    ddata.push(datad);
//                }
//            });
//            $scope.ddata = ddata[0];
//            var json_params4 = {};
//            json_params4.id = county;
//            var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
//            var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
//
//            var tdata = [];
//            angular.forEach(objs4, function (index, datat) {
//                if (index == town) {
//
//                    tdata.push(datat);
//                }
//            });
//            $scope.tdata = tdata[0];
            //=========
            var json_params = {};
            json_params.sku = [{skuId: "" + skuid + "", num: numss}];
            json_params.token = token;
            json_params.province = province;
            json_params.city = city;
            json_params.county = county;
            json_params.paymentType = 4;

            //todo remove freight request
            $scope.listsnum = datas.order.freight;

            //todo refactor of $scope.listss
            $scope.listss = [];
            $scope.numss = [];
            angular.forEach(datas.order.skus, function (sku) {
                $scope.listss.push({
                    imagePath: sku.jdSkuDetailsView.imgPath,
                    name: sku.name,
                    price: sku.price
                });
                $scope.numss.push(sku.num);
            });


            //获取地址以供订单确认使用
            $http({
                async: false,
                crossDomain: true,
                method: 'GET',
                url: "/jd/api/receiveraddresses",
                headers: {
                    'Authorization': "Bearer" + token + "",
                    'cache-control': "no-cache",
                    'postman-token': 'e0fa2222-3481-ded2-38ad-e5a34da1a05b'
                }  //请求头里会添加Authorization属性为'code_bunny'
            }).success(function (datas, status, headers, config) {
                //对接用户的公司账单发票信息
                //console.log(datas);
                var objs = datas.receiverAddresses;

                var arrlist = [];
                angular.forEach(objs, function (datalist, index, array) {

                    var list = datalist;
                    arrlist.push(list);
                });
                //console.log(arrlist);
                $scope.listadd = arrlist;
                //console.log($scope.listadd);
            }).error(function (data, status, headers, config) {

            });


        }).error(function (data, status, headers, config) {

        });
        //获取物流信息

        $http({
            async: false,
            crossDomain: true,
            method: "GET",
            url: "/jd/api/orders/track/" + jdOrderId + "",
            headers: {
                'Authorization': "Bearer" + token + "",
                'content-type': "application/x-www-form-urlencoded",
                'cache-control': "no-cache",
                'postman-token': 'ed86b9aa-8464-6e0c-b594-9bdedf5832b1'
            }
        }).success(function (res) {
            if(res.orderTrackItemList){
                $scope.trackInfo = res.orderTrackItemList[0]
            }
        }).error(function (error) {
            
        })
        //取消订单
        $scope.test = function () {

            layer.open({
                content: '确认取消订单'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $http({
                        async: false,
                        crossDomain: true,
                        method: 'POST',
                        url: "/jd/api/orders/cancel/" + jdOrderId + "",
                        params: {
                            deleteApplication: true
                        },
                        headers: {'Authorization': "Bearer" + token + "", "content-type": "application/x-www-form-urlencoded"}  //请求头里会添加Authorization属性为'code_bunny'
                    }).success(function (dataone, status, headers, config) {
                        layer.open({
                            content: '取消订单成功'
                            , skin: 'msg'
                            , time: 3 //2秒后自动关闭
                            ,end: function () {
                                window.location.href = "./mycart.html";
                                //	location.reload();
                            }
                        });
                    }).error(function (data, status, headers, config) {
                        layer.open({
                            content: data.msg
                            , skin: 'msg'
                            , time: 4 //2秒后自动关闭
                        });
                        location.reload();
                    });
                    layer.close(index);
                }
            });
        }
        $scope.hasReferer = function () {
            return localStorage.getItem('referer');
        };
        //根据状态跳转汇易联不同的页面
        $scope.text = function (datalists) {
          var appid = $('#xzy').val();
          var tryBridge = bridgeHelper.openContact(appid);
          if (tryBridge) return;
          var referer = window.localStorage.getItem('referer');

          if (referer) {
            referer = referer + '/?targetState=jd&applicationOID=' + appid + '&loginType=fosun&state=state';
            window.location.href = referer;
            return;
          }
            var statusinfo = datalists;
            var textsx = $('#xzy').val();
            if (statusinfo == 0) {
                var appid = textsx;
                window.location.href = "./jingdong/application?applicationOID=" + appid + "";
            }
            if (statusinfo == 2) {
                var appid =textsx;
                window.location.href = "./jingdong/application?applicationOID=" + appid + "";
            }
            if (statusinfo == 1) {
                var appid = textsx;
                window.location.href = "./jingdong/application/has/pass?applicationOID=" + appid + "";
            }
        };
        //关闭
        $scope.off = function () {
            window.location.href = "./closeInAppBrowser.html";
        };
        //我的购物车
        $scope.cart = function () {
            window.location.href = "./cart.html";
        };
        //我的订单
        $scope.cartme = function () {
            window.location.href = "./mycart.html";
        };
//        查看物流信息
        $scope.checkLogistics = function () {
            window.location.href = "./logistics.html?jdOrderId="+jdOrderId+""
        }
    }]);

</script>
</body>
</html>
