<!DOCTYPE html>
<html lang="zh-cn" ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>订单详情页</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ddxqddfk.css">
    <script type="text/javascript" src="js/stopIOS.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
</head>
<body ng-controller="DemoCtrl">
<!--顶部返回 开始-->
<style>
    .ng-cloak {
        display: none;
    }

    .back_fixed {
        width: 100%;
        font-size: 0.15rem;
        padding: 0 5%;
        height: 0.44rem;
        line-height: 0.44rem;
        position: fixed;
        z-index: 99;
        top: 0;
        background: #fff;
        text-align: center;
    }

    .back_fixed .s-img {
        display: inline-block;
    }

    /*.head {
        margin-top: 0.45rem;
    }*/
</style>
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:25px !important;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="./closeInAppBrowser.html">
                <img alt="Brand" src="images/y-fanhui.png" style="width:60%;">
            </a>

            <p class="navbar-text" style="color:#333;margin-left:40%;">订单详情</p>
        </div>
        <div class="navbar-header navbar-right btn-group" style="position:absolute;left:80%;top:-2%;">
            <a class="navbar-brand" ng-click="off()">
                <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;">
            </a>
        </div>
        <div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:13%;">
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown">
                <img alt="Brand" src="./img/dian.png" style="width:60%;">
            </a>
        </div>
        <div class="search-sort" id="header-search" style="width:200px;">
            <em id="search-em"></em>


            <ul class="dropdown-menu search-sort-list" role="menu"
                style="position:absolute;left:65%;top:95%;z-index:9999;width:100px;">
                <li ng-click="cart()"><span style="margin-left:20px;"><img src="./img/shop.png"
                                                                           style="width:12%;"></span> <span
                        style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"><span style="margin-left:20px;"><img src="./img/user.png"
                                                                             style="width:12%;"></span> <span
                        style="position:relative;top:2%;">我的</span></li>
            </ul>


        </div>
    </div>
</nav> -->
<!--顶部返回 结束-->
<!--头部 开始-->
<div class="head">
       <!-- <h4 class="h4 ng-cloak" ng-cloak ng-if="item.approvalStatus=='0' && item.orderState=='0' && item.state=='0'">等待审核</h4>-->
        <h4 class="h4 ng-cloak"  ng-cloak ng-if="item.payStatus =='0' && item.orderState=='1' ">等待买家付款</h4>
        <h4 class="h4 ng-cloak" ng-cloak ng-if="item.payStatus=='0'&& item.orderState=='0'">订单已取消</h4>
        <h4 class="h4 ng-cloak" ng-cloak ng-if="item.payStatus=='1'&& item.submitState=='1'">买家已付款</h4>

      

    <p class="pay ng-cloak" ng-cloak>订单金额 (含运费):￥{{prix + listsnum}}</p>

    <p class="freight">运费:<span ng-bind="listsnum | currency:'￥'"></span></p>
	 <div class="wait">
	 
            <img src="images/shibai.png" alt="失败"  ng-if="item.payStatus =='0'">
			<img src="images/chenggong.png"  ng-if="item.payStatus=='1'&& item.submitState=='1'">
     </div>
   
</div>
<!--头部 结束-->
<!--收件人 开始-->
<div class="detail white-bg" id="infolist">
    <div class="leftimg fl">
        <img src="images/dizhi.png"/>
    </div>
    <div class="detailr fl">
        <p class="info ng-cloak" ng-cloak>收件人:
            <span calss="xzy ng-cloak" ng-cloak>{{infoname}}</span>
            <span class="tel ng-cloak" ng-cloak>{{infophone}}</span>
        </p>

        <p class="address ng-cloak" ng-cloak>
            地址：{{address}}<!--{{pdata}}{{cdata}}{{ddata}}{{tdata}}{{address}}-->
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<!--收件人 结束-->
<!--店铺 开始-->
<div class="hjck white-bg ng-cloak" ng-cloak>
    <img src="images/dianpu.png" alt="店铺">
    <span>{{idname}}</span>
</div>
<!--店铺 结束-->
<!--商品 信息 开始-->
<a id="productinfo">
    <div class="goods" style="float:left;" ng-repeat="item in listss">
        <div class="dn fl ng-cloak" ng-cloak>
            <img src="{{item.jdSkuDetailsView.imgPath}}" alt="">
        </div>
        <div class="text fl">
            <p class="p">
					<span class="fl txt ng-cloak " id="txt1" ng-cloak>
						{{item.name}}
					</span>
                <span class="fr zz ng-cloak" ng-cloak>￥{{item.price}}</span>

            <div class="clearfix"></div>
            </p>
            <p class="pColor"><span class="fr ng-cloak" ng-cloak>x{{item.num}}</span></p>
        </div>
        <div class="clearfix"></div>
    </div>
</a>
<!--商品 信息 结束-->
<!--费用 开始-->
<div class="fk white-bg">
    <p class="fukuan">
        <span>实际付款 (含运费) :</span>
        <span class="fr hong ng-cloak" ng-cloak>￥{{prix + listsnum}}</span>
    </p>

    <p class="huise">
        <span>运费:</span>
        <span class="fr" ng-bind="listsnum | currency:'￥'"></span>
    </p>
    <!-- <p class="huise mb20">
      <span>会员折扣:</span>
      <span class="fr blue">-￥0.00</span>
    </p> -->
</div>
<div style="clear:both; height:40px;"></div>
<!--费用 结束-->
<!--底部 开始-->
<div class="foot white-bg">
     <a class="btn1" ng-click="test()"  ng-if="item.payStatus =='0' && item.orderState=='1'">取消订单</a> 
    <input  type="hidden" name="" value="{{idrd}}" id="xzy">
    <a ng-click="text(datalists)" class="btn2" name="{{datalists}}">查看申请单</a>
</div>
<!--底部 结束-->
<script src="scripts/bridge.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="js/jd.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script type="text/javascript">
    $('#show').click(function () {
        $('.search-sort-list').toggle();
    });
 //   var str = location.href; //获取本页url地址
//    var arr = str.split("?");
//    var arr2 = arr[1].split("&");
//    var str1 = arr2[0];
//    var str2 = arr2[1];
//    if (str1) {
//        var apptoken = str1.split("=")[1];
//		
//    }
//    if (str2) {
//        var orders = str2.split("=")[1];
//    }
	
	var token =GetQueryString("token");
	var orders =GetQueryString("orders");
	if(!token){
     var token = api();
	}
   console.log(token);
    console.log(orders);
	//var token = apptoken;
	//if(apptoken){
//    $.ajax({
//	  async: false,
//	  crossDomain: true,
//	  url: "/api/config/token/jd",
//	 //url: "http://apistage.huilianyi.com/jd/api/config/token/jd",
//	  type: "GET",
//	  headers: {
//		"authorization": "Bearer "+apptoken+"",
//		"cache-control": "no-cache",
//		"postman-token": "3766bbd2-2f79-afaa-041b-55ee01654f0a"
//	  },
//	 
//	  success:function(response){
//	   
//		 token=response.accessToken;
//	   
//	  },error:function (XMLHttpRequest, textStatus, errorThrown) 
//		{ 
//		  layer.msg('token错误，请重新进入!', {
//				time: 5000, //2s后自动关闭
//			});
//		} 
//
//   });
//   }
//   else{
//    layer.msg('token错误，请重新进入!', {
//				time: 5000, //2s后自动关闭
//			});
//   }
	
	console.log(token);

    var app = angular.module('demoApp', []);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http", function ($scope, $rootScope, $sce, $http) {
            /*layer.open({
            type: 2
            ,content: '加载中'
            ,time: 2 //2秒后自动关闭
            });*/
        //根据订单号获取订单详情
		
        $http({
            async: true,
            crossDomain: true,
            method: "GET",
            url: "/jd/api/orders/" + orders + "",
            headers: {
                'Authorization': "Bearer" + token + "",
                'content-type': "application/x-www-form-urlencoded",
                'cache-control': "no-cache",
                'postman-token': 'ed86b9aa-8464-6e0c-b594-9bdedf5832b1'
            }
        }).success(function (datas, status, headers, config) {
            $scope.item = datas.order;
            console.log($scope.item);
            $scope.prix = datas.order.price;
			$scope.listsnum = datas.order.freight;
			// $scope.numss = nums;
            $scope.listss = datas.order.skus;
            var sku = datas.order.skus;
            var datalist = datas.order;
         
            $scope.datalists = datalist.approvalStatus;
                // console.log($scope.datalists);
            $scope.idrd = datas.order.applicationOid;
            $scope.idname = datas.order.skus[0].name;

            $scope.infoid = datalist.jdOrderAddress.id;
            $scope.infoname = datalist.jdOrderAddress.name;
            $scope.infophone = datalist.jdOrderAddress.phone;
            $scope.address = datalist.jdOrderAddress.address;


        }).error(function (data, status, headers, config) {
			
        });
        //取消订单
        $scope.test = function () {
		  layer.open({
				content: '您是否确定要取消此订单？'
				, btn: ['确定', '取消']
				, yes: function (index) {
					
					layer.close(index);
							
							
            $http({
                async: false,
                crossDomain: true,
                method: 'POST',
                url: "/jd/api/orders/cancel/" + orders + "",
                params: {
                    deleteApplication: true
                },
                headers: {'Authorization': "Bearer" + token + "", "content-type": "application/x-www-form-urlencoded"}  //请求头里会添加Authorization属性为'code_bunny'
            }).success(function (dataone, status, headers, config) {
					layer.open({
						content: '取消订单成功'
						, skin: 'msg'
						, time: 2//2秒后自动关闭tests
					 ,end: function () {
					  layer.close(index);
               		 location.reload();
           			 }
					});
            }).error(function (data, status, headers, config) {
			    layer.open({
						content: data.msg
						, skin: 'msg'
						, time: 2//2秒后自动关闭tests
					 ,end: function () {
					  layer.close(index);
               		 location.reload();
           			 }
					});
				
            });
			}
		 });
        };
        $scope.hasReferer = function () {
            return localStorage.getItem('referer');
        };

        //根据状态跳转汇易联不同的页面
        $scope.text = function (datalists) {
          var appid= $('#xzy').val(); 
          var tryBridge = bridgeHelper.openContact(appid);
          if (tryBridge) return;
          var referer = window.localStorage.getItem('referer');

          if (referer) {
            referer = referer + '/?targetState=jd&applicationOID=' +  appid + '&loginType=fosun&state=state';
            window.location.href = referer;
            return;
          }
           // console.log(datalists);
               var statusinfo = datalists;
              var textsx = $('#xzy').val(); 
            // console.log(statusinfo);
            // console.log(textsx);
            if (statusinfo == 0) {
                var appid = textsx;
                window.location.href = "./jingdong/application?applicationOID=" + appid + "";
            }
            if (statusinfo == 2) {
                var appid =textsx;
                window.location.href = "./jingdong/application?applicationOID=" + appid + "";
            }
            if (statusinfo == 1) {
                var appid = textsx;
                window.location.href = "./jingdong/application/has/pass?applicationOID=" + appid + "";
            }
           // window.location.href = "./jingdong/application/has/pass?applicationOID=" + idrd + "";
        };
        //关闭
        $scope.off = function () {


            window.location.href = "./closeInAppBrowser.html";

        };
        //我的购物车
        $scope.cart = function () {


            window.location.href = "./cart.html";

        };
        //我的订单
        $scope.cartme = function () {


            window.location.href = "./mycart.html";

        };


    }]);
  function GetQueryString(name)
		{
			 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
			 var r = window.location.search.substr(1).match(reg);
			 if(r!=null)return  unescape(r[2]); return null;
		}
</script>
</body>
</html>
