<!DOCTYPE html>
<html  ng-app="demoApp">
<head>
    <meta charset="utf-8" />
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商品列表</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/index-daohangfenlei.html.css" />

    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/fenlei.css">
    <link rel="stylesheet" href="css/ionic.min.css">
    <script type="text/javascript" src="js/stopIOS.js"></script>
</head> 
<style>
    .header .head-input{ 
        width: 3.43rem;
        height: 0.34rem;
        margin: 0 auto;
        outline: none;
        border-radius: 0;
        padding-left: 0.34rem !important;
        font-size: 0.12rem !important;
        line-height: 0.34rem;
        color: #4a4a4a;
        font-family:PingFangSC-Regular; 
        background-size: 0.14rem 0.14rem !important;
    }
    .ng-cloak{display: none;}
    .clear{zoom:1;}
    .clear:after{display:block;content:'.';clear:both;overflow:hidden;height:0;visibility:hidden;}
    .y-gengduo{display: block;width: 100%;height: 0.2rem;line-height: 0.2rem;font-size: 0.14rem;text-align: center;background: #f6f6f6;padding-bottom: 0.3rem;}
    .write0{display:none;}
    .write1{display:black;}
    .tishi_wrap{
      position: relative;
      height: 6.1rem;
      margin-top: 0.55rem;
      z-index: 999;
      background: #edecf0;
    }
.form-control{ 
  width: 100%;
    height: auto;
    border-radius: 18px;
  }
  .spinner svg{
    stroke: #e85a5d;
    width: 40px;
    height: 40px;
  } 
  .loading-container{
    background: #edecf0;
  } 
  .loading-container .loading{
    background: #fff;
    padding: 0;
    width: 0.4rem;
    height: 0.4rem;
  }
  @media (max-width: 340px) {
     .loading-container .loading{
        width: 0.5rem;
        height: 0.5rem;
     }
  } 
</style>
<body ng-controller="DemoCtrl">

    <div class="container-fluid" >
    <div >
        <div class="container ">
             <nav class="navbar navbar-default navbar-fixed-top" role="navigation"  style="height:50px !important; position:fixed; z-index:999999; top:0px;box-shadow: 0.02rem 0.0rem 0.04rem #808080;margin-bottom: 0;">
          <div class="container" style="background: #fff;">
              <!-- <div class="navbar-header">
                  <span class="navbar-brand" onClick="javascript:window.history.go(-1);return false;">
                     <img alt="Brand" src="images/fanhui.png" style="width:60%;">
                </span>
                
                 <p class="navbar-text" style="color:#1c1c1c;margin-left:46%;font-size:0.17rem;font-family: PingFangSC-Regular;font-weight: 600;">搜索</p>
              </div>
              <div class="navbar-header navbar-right btn-group" style="position:absolute;left:90%;top:-2%;">
                  <a class="navbar-brand"  ng-click="off()">
                     <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;">
                </a>
              </div> -->
             <!--  <div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:13%;">
                      <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" >
                         <img alt="Brand" src="./img/dian.png" style="width:60%;">
                    </a>
              </div> -->
            <!-- <div class="search-sort" id="header-search" style="width:200px;" >
            <em id="search-em"></em>

            
              
              <ul class="dropdown-menu search-sort-list" role="menu" style="position:absolute;left:65%;top:95%;width:100px;">
                <li  ng-click="cart()"><span  style="margin-left:20px;"><img src="./img/shop.png" style="width:12%;"></span> <span style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"> <span style="margin-left:20px;"><img src="./img/user.png" style="width:12%;"></span>  <span style="position:relative;top:2%;">我的</span></li>
                </ul>

            </div> -->
         </div>
         <div class="header ng-cloak" style="width: 100%;background: #f6f6f6;padding: 0.1rem 0;" ng-cloak>
              <input class="form-control head-input" type="text" name="text" ng-focus="searchhtml()" ng-keypress="myfun($event)" value="{{namesss}}" style="box-shadow: none;" ng-model="text" >
             <!-- <span style="position:absolute;left:85%;top:65%;" ng-click="cop()"><img src="./images/goover.png" style="width:120%;opacity:0.0;"></span> -->
         </div>
    </nav>
  
           <!--  <hr style="margin-top: 0.1rem;margin-bottom: 0.1rem;margin-left: -15px;margin-right: -15px;"> -->
            <!--style="position:fixed; top:0; left: 0;z-index:9999;" .form-control-->
            <!-- <div class="header ng-cloak" style="margin-top:15%;" ng-cloak>
                <input class="form-control head-input" type="text" name="text" ng-keypress="myfun($event)" placeholder="{{namesss}}"  ng-model="text" >
                 <span style="position:absolute;left:85%;top:65%;" ng-click="cop()"><img src="./images/goover.png" style="width:120%;opacity:0.0;"></span>
            </div> -->
        </div>
        </div>
        <div class="write{{write}} tishi_wrap" ng-cloak>
         <div style="margin:0 auto;position:absolute;top: 40%;left: 42%;z-index:999;"><img src="./images/goods.png" style="width:50%;height:50%;">
            <div style="margin-left:-24%;margin-top:3%;"><h5 style="font-size:0.16rem;">抱歉！暂无相关商品</h5></div>
         </div>
        </div>
     <ion-content style="background:#fff;">
         <div style="visibility:hidden;margin-top:12%;"></div>
        <div  class="conent-wrap clear ng-cloak" ng-cloak  >
            <div class="col-xs-12 clear ng-cloak"  id="scrollWrap2" ng-cloak  style="padding: 0;margin-top: 0.21rem;-webkit-overflow-scrolling:touch;">
                <!-- 循环产品 开始 -->
				<ion-refresher pulling-text="下拉刷新..." on-refresh="do_refresher()"></ion-refresher>
                <div class="col-xs-6 ng-cloak" ng-repeat="item in listss" ng-cloak  name="xzy{{$index}}" style="-webkit-overflow-scrolling:touch;">
                    <a href="./actions.html?sku={{item.id}}?number={{number}}" class="ng-cloak" ng-cloak>
                        <img src="{{item.jdSkuDetailsView.imgPath}}" ng-cloak/>
                    </a>
                    <p class="info ng-cloak" style="width:1.18rem;background:#000;opacity:0.5;text-align:center;position: absolute;left: 0;bottom: 0;margin-bottom: 0;" >
                            <span style="color:#FFF;" ng-if="item.jdSkuDetailsView.stockStateDesc=='无货'">{{item.jdSkuDetailsView.stockStateDesc}}</span>
                    </p>
                    <div class="content_wrap">
                        <p class="info ng-cloak" ng-cloak style="overflow:hidden;">
                            <a href="./actions.html?sku={{item.id}}?number={{number}}" ng-bind="item.name" style="color: #4a4a4a;"></a>
                        </p>
                        <div class="money-box ng-cloak" ng-cloak>
                            <span class="money ng-cloak"  ng-cloak>  <b style="font-weight: normal;" ng-bind="item.jdSkuDetailsView.price |  currency:'￥'"></b></span><span class="none-money" ng-bind="item.jdSkuDetailsView.jdPrice  | currency:'￥'"></span>
                        </div>
                        <p class="pinglun ng-cloak">商品评分 {{item.jdSkuDetailsView.averageScore}}颗星  {{item.jdSkuDetailsView.goodRate*100 | number:0}}%好评</p>

                    </div>
                </div>
                <!-- 循环产品 结束 -->
                <!-- <div style="margin-bottom:1%;visibility:hidden;">121</div> -->
            </div>
              <div class="clear:after"></div>
        </div>
        <ion-infinite-scroll ng-if="hasMore" immediate-check="false" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
    <div class="clear:after"></div>
      <div id="footer">
               <a  class="y-gengduo ng-cloak" style="position:absolute;top:96%;z-index:9999;color:#000;" ng-cloak  ng-if="actiontxt=='1'">已经到底啦～</a>
            </div>
    </div>
    </body>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    
    <script src="layer/layer_mobile/layer.js"></script>
    <script src="js/jd.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="js/ionic.bundle.min.js"></script>

    <script type="text/javascript">
	
    //显示顶部的列表
    $('#show').click(function(){
    $('.search-sort-list').toggle();
    });


          var winHeight = $(window).height();   //获取当前页面高度
          $(window).resize(function(){
          var thisHeight=$(this).height();
          if(winHeight - thisHeight >50){
          $('#footer').hide();


          }else{
          //当软键盘收起，在此处操作
          $('#footer').show();
          }
          });
          var str=location.href; //获取本页url地址
          var arr=str.split("?");
          var str1 = arr[1];
          var str2 = arr[2];
          if(str1){var names=str1.split("=")[1];}
          var namesss = decodeURI(names);
          var token=api();
          //var token='26c7f7c1-369f-4a8d-b3dd-5d07ebc93df1';
         
         var app = angular.module('demoApp', ["ionic"]);
        app.controller('DemoCtrl', ["$scope","$rootScope","$sce","$http","$timeout","$ionicLoading", function ($scope, $rootScope, $sce,$http,$timeout,$ionicLoading) {
             $ionicLoading.show({
              template:'<ion-spinner icon="android"></ion-spinner>',
            //content: '正在加载...',
            animation: 'fade-in',
            showBackdrop: false,
            maxWidth: 200,
            showDelay: 0
            });
			
			
			
			
           $scope.write = 0;
           $scope.number =0;
           $scope.namesss = namesss;
           $http({
            async: true,
            crossDomain: true,
            method:'POST',
            // url:"/api/skus?q="+names+"&pageNum=1&pageSize="+newnum+"",
//            url:"/jd/api/skus?q="+names+"&pageNum=1&pageSize=8",
               url:"/jd/api/search/skus",
               data:{
                   keyword:decodeURI(names),
                   catId:"",
                   pageIndex:1,
                   pageSize:8
               },
            //url:"http://apistage.huilianyi.com/jd/api/skus?q=%E5%86%85%E5%AD%98&category=680&pageNum=2&pageSize=5",
            headers: {'Authorization':"Bearer"+token+"",'cache-control': "no-cache",'postman-token': '00a70b0c-0756-adfe-3928-af0e1bbdc95f'}  //请求头里会添加Authorization属性为'code_bunny'
        }).success(function(data,status,headers,config){
            var objlist =data.jdSkus;
			console.log(data.jdSkus);
            $scope.names =objlist;
             
            $ionicLoading.hide();
//            var arr = [];
//            var arrinfos = [];
//             var objs =data.jdSkus;
             var allTotal = data.total;
             $scope.allTotal = allTotal;//此类商品的总数
            $scope.listss = data.jdSkus;
             $ionicLoading.hide();
            //console.log($scope.listss);
            if ($scope.listss=='') {
              $scope.write = 1;
            }
            if( allTotal < 8 ){
              $scope.hasMore = false;
            }else {
              $scope.hasMore = true;
            }
        }).error(function(data,status,headers,config){
              layer.open({
                content: '用户信息错误'
                ,skin: 'msg'
                ,time: 3 //2秒后自动关闭
                });
            // window.location.href="./closeInAppBrowser.html";
        });
        //上拉刷新
        $scope.hasMore = false;
          //      $scope.dataNull=false;     // 无数据提示
       		$scope.SName = "";
       		$scope.do_refresher = function() {
            $scope.currentPage = 1;
            $scope.bItems = [];
			}
			
        $scope.pageNumber = 1;
        //$scope.$broadcast('scroll.infiniteScrollComplete'); 
        $scope.loadMore=function(){
		 $scope.pageNum=angular.copy($scope.pageNumber);
           $scope.pageNumber += 1;
		   //alert($scope.pageNumber);
		 
           var numss = $scope.pageNumber;   
           $http({
                async: true,
                crossDomain: true,
                method:'POST',
//                url:"/jd/api/skus?q="+names+"&pageNum=8&pageSize="+$scope.pageNumber+"",
               url:"/jd/api/search/skus",
               data:{
                   keyword:decodeURI(names),
                   catId:"",
                   pageIndex:$scope.pageNumber,
                   pageSize:8
               },
               //  url:"/api/skus?q="+names+"&pageNum=1&pageSize=8",
            headers: {'Authorization':"Bearer"+token+"",'cache-control': "no-cache",'postman-token': '00a70b0c-0756-adfe-3928-af0e1bbdc95f'}  //请求头里会添加Authorization属性为'code_bunny'
          }).success(function(data,status,headers,config){
		 
              $scope.hasMore = false;
              var objlist =data.jdSkus;
              var allTotalA = data.total-numss;
              $scope.names =objlist;
              console.log(objlist);
              if (objlist=='') {
                /* layer.open({
                  content: '没有更多数据啦！'
                  ,skin: 'msg'
                  ,time: 2 //2秒后自动关闭
                  });*/
				  $scope.actiontxt = 1;
                  $scope.$broadcast('scroll.infiniteScrollComplete'); 
              }
			   $scope.$broadcast('scroll.infiniteScrollComplete');
				for (var i = 0; i < data.jdSkus.length; i++) {
                        $scope.listss.push(data.jdSkus[i]);
                    }
             // $scope.listss = data.jdSkus;
			 // alert(allTotalA);
               if (allTotalA == 0) {
                $scope.hasMore = false;
                $scope.actiontxt = 1;
				
                 $scope.$broadcast('scroll.infiniteScrollComplete');
                 //return false;
//                 console.log($scope.actiontxt);
              }else{
                $scope.hasMore = true;
              }
			  
          }).error(function(data,status,headers,config){
                layer.open({
                  content: '用户信息错误'
                  ,skin: 'msg'
                  ,time: 3 //2秒后自动关闭
                  });
             //  window.location.href="./closeInAppBrowser.html";
          });
        };

       
        $scope.off=function(){

        
            window.location.href="./closeInAppBrowser.html";

        };
        $scope.cart=function(){

        
            window.location.href="./cart.html";

        };
        $scope.cartme=function(){

        
            window.location.href="./mycart.html";

        };
        
		$scope.searchhtml = function() {
             window.location.href = "./search.html";               
            };
			
	   $scope.loadtemp = function() {
	   $scope.hasMore = false;
           alert(34);
		 $scope.$broadcast('scroll.infiniteScrollComplete');//这里是告诉ionic更新数据完成，可以再次触发更新事件  
                $scope.$broadcast('scroll.refreshComplete');            
            };
    
        $scope.myfun = function(KeyEvent) {
            var names =$scope.text;
			if(typeof(content)=="undefined"){
			names='';
			}
            //console.log(names);
            if(KeyEvent.keyCode===13){
             if(names==undefined) {
                layer.open({
                content: '搜索内容为空'
                ,skin: 'msg'
                ,time: 3 //2秒后自动关闭
                }); 
              return false;
            };
            window.location.href = "./goodslist.html?names=" + names + "";    
            }


            };

              $scope.cop=function(){

               $("input[name='text']").val("").focus(); // 清空并获得焦点
            }
          

    }]);
	
</script>
</html>