<!DOCTYPE html>
<html lang="zh-cn"  ng-app="demoApp">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/index-daohangfenlei.html.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<script type="text/javascript" src="js/stopIOS.js"></script>
	</head>	
	<style>
	
	</style>
	</script>
	<body; ng-controller="DemoCtrl">
		<div; class="container-fluid" >
			<div; class="container ">
				<div; class="header">
					<input; class="form-control head-input"; type="text"; placeholder="在店铺内搜索"; ng-model="search">
				</div>
			</div>
			<div; class="conent-wrap">
				<div; class="col-xs-12"; id="por-box">
					<!-- 循环产品 开始 -->
					<div; class="col-xs-6"; ng-repeat="item in listss">
						<img; src="http://img13.360buyimg.com/n0/{{item.imagePath}}" />
						<p; class="info" >
							<a; href="./actions.html?sku={{item.skuId}}" >{{item.brandName};}</a>
						</p>
						<div; class="money-box">
							<span; class="money"><b>￥{{item.jdPrice}};</b></span><span;; class="none-money">￥{{item.price}};</span>
						</div>
					</div>
					<!-- 循环产品 结束 -->
				</div>
			</div>
		</div>
	</body>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jd.js"></script>
<script src="angular/angular.min.js"></script>
<script src="js/products_g1.js"></script>
<script type="text/javascript">
	var str=location.href; //获取本页url地址
		var arr=str.split("?");
		var str1 = arr[1];
		var str2 = arr[2];
		if(str1){var sku=str1.split("=")[1];}
		if(str2){var q=str2.split("=")[1];}
		var mc=api();
		var token = mc['access_token']; 
		//alert(token);
		 var app = angular.module('demoApp', []);
   		 app.controller('DemoCtrl', ["$scope","$rootScope","$sce","$http", function ($scope, $rootScope, $sce,$http) {
				layer.open({
			type: 2
			,content: '加载中'
			,time: 2 //2秒后自动关闭
			});
		 $http({
		 	async: true,
			crossDomain: true,
            method:'GET',
            url:"/jd/api/skus?q="+q+"&category="+sku+"&pageNum=2&pageSize=5",
            headers: {'Authorization':"Bearer"+token+"",'cache-control': "no-cache",'postman-token': '00a70b0c-0756-adfe-3928-af0e1bbdc95f'}  //请求头里会添加Authorization属性为'code_bunny'
        }).success(function(data,status,headers,config){
			var objs =data.jdSkus;
			var arr = [];
			angular.forEach(objs, function(datas,index,array){
				var dataid = datas.id;
				var json_params = {};
				json_params.sku = dataid;
				console.log(json_params);
				var vvv = do_api("biz.product.detail.query",json_params);
				var vvvs = do_api("biz.price.sellPrice.get",json_params);
				console.log(vvv);
				$scope.cp_class =  JSON.parse(vvv);
				$scope.cp_classs =  JSON.parse(vvvs);
				var list = $scope.cp_class.biz_product_detail_query_response.result;
				var lists = $scope.cp_classs.biz_price_sellPrice_get_response.result[0];
				 console.log('saddsdasdasfsfsd');
				 arr.push(angular.extend(lists,list)) ;
				 
				 // console.log($scope.listss.skuId);
				 // console.log($scope.listss.price);

				
			});
			$scope.listss = arr;
			console.log($scope.listss);
        
        }).error(function(data,status,headers,config){
  			
        });

    }]);





</script>
</html>