<html lang="zh-cn" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>修改地址</title>
    <link rel="stylesheet" href="css/jdtjdzcss.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/reset.css">
    <script type="text/javascript" src="js/stopIOS.js"></script>
</head>
<body ng-controller="DemoCtrl">
<!--顶部返回 开始-->
<style>
    .ng-cloak {
        display: none;
    }

    .back_fixed {
        width: 90%;
        margin: 0 auto;
        font-size: 0.15rem;
        padding: 0 5%;
        height: 0.44rem;
        line-height: 0.44rem;
        position: fixed;
        z-index: 99;
        top: 0;
        background: #fff;
        text-align: center;
        box-shadow: 0 5px 5px #ccccc;
    }

    .back_fixed .s-img {
        display: inline-block;
        position: relative;
        top: 0.12rem;
    }

    .container {
        margin-top: 0.44rem;
    }
</style>
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:25px !important;">
    <div class="container">
        <div class="navbar-header"><span class="navbar-brand" onClick="javascript:window.history.go(-1);return false;"> <img alt="Brand" src="images/y-fanhui.png" style="width:60%;"> </span>

            <p class="navbar-text" style="color:#333;margin-left:41%;">编辑地址</p>
        </div>
        <div class="navbar-header navbar-right btn-group" style="position:absolute;left:80%;top:8%;"><a
                class="navbar-brand" ng-click="off()"> <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;">
        </a></div>
        <div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:23%;"><a
                class="navbar-brand dropdown-toggle" data-toggle="dropdown"> <img alt="Brand" src="./img/dian.png"
                                                                                  style="width:60%;"> </a></div>
        <div class="search-sort" id="header-search" style="width:200px;"><em id="search-em"></em>
            <ul class="dropdown-menu search-sort-list" role="menu"
                style="position:absolute;left:65%;top:95%;z-index:9999;width:100px;">
                <li ng-click="cart()"><span class="glyphicon glyphicon-shopping-cart" style="margin-left:20px;"><img
                        src="./img/shop.png" style="width:50%;"></span> <span
                        style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"><span class="glyphicon glyphicon-user" style="margin-left:20px;"><img
                        src="./img/user.png" style="width:50%;"></span> <span
                        style="position:relative;top:2%;">我的</span></li>
            </ul>
        </div>
    </div>
</nav> -->
<!--顶部返回 结束-->
<!--content start-->
<div class="container" style="width:100%;">
    <!-- <div class="group">
              收件人<input type="text" name="name" id="name" value="">
              </div>
              <div class="group">
              联系电话<input type="text" name="phone" id="phone" value="" !(/^1[34578]\d{9}$/.test(phone))    <input type="number" name="age" ng-model="user.age" /> >
              </div> -->
    <input class="group" style="width:100%;border:none;margin-top:4px;" name="name" id="name" ng-model="name"
           placeholder="收件人"/>
    <input class="group" style="width:100%;border:none;" name="phone" id="phone" ng-model="phone" ng-blur="number()"
           placeholder="联系电话"/>

    <div class="group ng-cloak" ng-cloak><span class="chose">选择省份</span> <a class="more" id="city"
                                                                            onClick="show_select()" ng-model="hundred">{{hundred}}</a>

        <div id="c1" class="more" style="display:none">
            <select value="" onChange="get_son()" style="margin-left:85%;margin-top:-5%;" id="ctyr">
                <option></option>
            </select>
        </div>
    </div>
    <div class="group ng-cloak" ng-cloak><span class="chose">选择城市</span> <a class="more" id="chosecity"
                                                                            onClick="show_city()" ng-model="city">{{city}}</a>

        <div id="c2" class="more" style="display:none">
            <select value="" onChange="get_city()" style="margin-left:85%;margin-top:-5%;" id="citys">
                <option></option>
            </select>
        </div>
    </div>
    <div class="group ng-cloak" ng-cloak><span class="chose">选择区域</span> <a class="more" id="chosearea"
                                                                            onClick="show_area()"
                                                                            ng-model="qu">{{qu}}</a>

        <div id="c3" class="more" style="display:none">
            <select value="" onChange="get_area()" style="margin-left:85%;margin-top:-5%;" id="areas">
                <option></option>
            </select>
        </div>
    </div>
    <div class="group ng-cloak" ng-cloak><span class="chose">选择乡镇</span> <a class="more" id="home" onClick="show_home()"
                                                                            ng-model="town">{{town}}</a>

        <div id="c4" class="more" style="display:none">
            <select value="" onChange="get_home()" style="margin-left:85%;margin-top:-5%;" id="home">
                <option></option>
            </select>
        </div>
    </div>
    <div id="aaaaa"></div>
    <div>
        <!-- <input class="textarea"  id="texts" ng-model="texttext" placeholder="请填写详细地址（不包含省份城市区域）">
                    <textarea class="textarea" style="width:100%;border:none;"name="name" ng-model="texttext" id="name" placeholder="请填写详细地址（不包含省份城市区域）"></textarea> -->
        <input class="group" style="width:100%;border:none;margin-bottom:10px;" name="name" id="texts"
               ng-model="texttext" placeholder="请填写详细地址（不包含省份城市区域）"/>
    </div>
</div>
<div class="sure" onClick="sub()"> 确认</div>
<!--content end-->
</body>
<script src="js/jquery.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="js/jd.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script type="text/javascript">
    $('#show').click(function () {
        $('.search-sort-list').toggle();
    });
    var json_params = {};
    var json_params2 = {};
    var json_params3 = {};
    var json_params4 = {};
    var proid;
    var cityid;
    var homeid;

    var str = location.href; //获取本页url地址name
    var arr = str.split("?");

    var str1 = arr[1];
    var str2 = arr[2];
    var str3 = arr[3];
    var str4 = arr[4];
    var str5 = arr[5];
    var str6 = arr[6];
    if (str1) {
        var id = str1.split("=")[1];
    }
    if (str2) {
        var name = str2.split("=")[1];
    }
    if (str3) {
        var phone = str3.split("=")[1];
    }
    if (str4) {
        var regionIds = str4.split("=")[1];
    }
    if (str5) {
        var regionNames = str5.split("=")[1];
    }
    if (str6) {
        var address = str6.split("=")[1];
    }
    var urladdress = decodeURI(address);
    var urlname = decodeURI(name);
    var cityinfo = decodeURI(regionNames);
    var regionIdlists = cityinfo.split("|");
    var strd = regionIdlists[1];
    var strc = regionIdlists[2];
    var strqu = regionIdlists[3];
    var strtown = regionIdlists[4];
    var regionIdslist = regionIds.split("|");
    var strdid = regionIdslist[1];
    var strcid = regionIdslist[2];
    var strquid = regionIdslist[3];
    var strtid = regionIdslist[4];
        layer.open({
type: 2
,content: '加载中'
,time: 2 //2秒后自动关闭
});
    function show_select() {
        $('#city').hide();
        $('#c1').show();
    }
    function get_son() {

        var ds = $("#c1  option:selected").text();
        var id = $("#c1  option:selected").val();
        //console.log(id);
        $('#city').text(ds);
        $('#city').show();
        $('#c1').hide();
        json_params2.id = id;
        //console.log(json_params2);
        var vvv2 = do_api("biz.address.citysByProvinceId.query", json_params2);
        //console.log(vvv2);
        var objs2 = JSON.parse(vvv2).biz_address_citysByProvinceId_query_response.result;
        var html2 = '';
        angular.forEach(objs2, function (index, data) {
            html2 += '<option value="' + index + '">' + data + '</option>';
            $('#citys').html(html2);
        });
        get_city();
        get_area();
        return json_params2;
    }
    //获取城市的地址
    function show_city() {
        var id = $("#c2 option:selected").val();
        if (id == '') {
            layer.open({
                content: '请先选择省份'
                , skin: 'msg'
                , time: 5 //2秒后自动关闭
            });
        } else {
            $('#chosecity').hide();
            $('#c2').show();
        }


    }
    function get_city() {
        var ds2 = $("#c2  option:selected").text();
        var id = $("#c2 option:selected").val();

        $('#chosecity').text(ds2);
        $('#chosecity').show();
        $('#c2').hide();
        cityid = json_params3.id;
        json_params3.id = id;
        var vvv3 = do_api("biz.address.countysByCityId.query", json_params3);
        var objs3 = JSON.parse(vvv3).biz_address_countysByCityId_query_response.result;
        var html3 = '';
        angular.forEach(objs3, function (index, data) {
            html3 += '<option value="' + index + '">' + data + '</option>';
            $('#areas').html(html3);
        });
        get_area();
        return json_params2;
    }
//获取区的地址
    function show_area() {
        var id = $("#c3 option:selected").val();
        if (id == '') {
            layer.open({
                content: '请先选择城市'
                , skin: 'msg'
                , time: 5 //2秒后自动关闭
            });
        } else {
            $('#chosearea').hide();
            $('#c3').show();
        }
    }
    function get_area() {

        var ds3 = $("#c3  option:selected").text();
        var id = $("#c3 option:selected").val();
        homeid = json_params4.id;
        json_params4.id = id;
        var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
        var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
        //console.log(objs4);
        if (objs4 == null) {
            layer.open({
                content: '未能获取乡镇地址'
                , skin: 'msg'
                , time: 5 //2秒后自动关闭
            });
        }
        angular.forEach(objs4, function (index, data) {
            html4 += '<option value="' + index + '">' + data + '</option>';
            $('#home').html(html4);
        });
        $('#chosearea').text(ds3);
        $('#chosearea').show();
        $('#c3').hide();

    }
    //========
    function show_home() {
        $('#chosehome').hide();
        $('#c4').show();
    }
    //获取乡镇的地址
    function get_home() {
        var ds3 = $("#c4  option:selected").text();
        var id = $("#c3 option:selected").val();
        homeid = json_params4.id;
        json_params4.id = id;
        var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
        var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
        //console.log(objs4);
        if (objs4 == null) {
            layer.open({
                content: '未能获取乡镇地址'
                , skin: 'msg'
                , time: 5 //2秒后自动关闭
            });
        }
        angular.forEach(objs4, function (index, data) {
            html4 += '<option value="' + index + '">' + data + '</option>';
            $('#home').html(html4);
        });
    }
    //======
    var app = angular.module('demoApp', []);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http", function ($scope, $rootScope, $sce, $http) {
        $scope.name = urlname;
        $scope.phone = phone;
        $scope.texttext = urladdress;
        $scope.hundred = strd;
        $scope.city = strc;
        $scope.qu = strqu;
        $scope.town = strtown;
        var vvv = do_api("biz.address.allProvinces.query", json_params);
        $scope.cp_class = JSON.parse(vvv);
      

        var objs = $scope.cp_class.biz_address_allProvinces_query_response.result;
      
        var html = '';
        var html2 = '';
        var html3 = '';
            //获取省份的地址
        angular.forEach(objs, function (index, data) {
            html += '<option value="' + index + '">' + data + '</option>';
            $('#ctyr').html(html);
        });
        $scope.number = function () {


            var names = $scope.phone;
            if (!(/^1[34578]\d{9}$/.test(names))) {

                layer.open({
                    content: '手机号码有误，请重填'
                    , skin: 'msg'
                    , time: 4 //2秒后自动关闭
                });
                return false;
            }

        };
        $scope.off = function () {


            window.location.href = "./closeInAppBrowser.html";

        };
        $scope.cart = function () {


            window.location.href = "./cart.html";

        };
        $scope.cartme = function () {


            window.location.href = "./mycart.html";

        };

    }]);
    function sub() {
        var str = location.href; //获取本页url地址
        var arr = str.split("?");
        var str1 = arr[1];
        if (str1) {
            var id = str1.split("=")[1];
        }
        var token = api();
        //var token = mc['access_token'];


        var name = $('#name').val();
        if (name == '') {
            layer.open({
                content: '请输入用户名'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }
        var phone = $('#phone').val();
        if (phone == '') {
            layer.open({
                content: '请输入联系电话'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }
        var texts = $('#texts').val();
        if (texts == '') {
            layer.open({
                content: '请输入详细地址'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }
        var ctyrval = $('#ctyr').find("option:selected").val();
        var ctyrtext = $('#ctyr').find("option:selected").text();
        var citysval = $('#citys').find("option:selected").val();
        var citystext = $('#citys').find("option:selected").text();
        var areasval = $('#areas').find("option:selected").val();
        var areastext = $('#areas').find("option:selected").text();

        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "/jd/api/receiveraddresses/" + id + "?name=" + name + "&phone=" + phone + "&regionIds=|" + ctyrval + "|" + citysval + "|" + areasval + "|" + 0 + "|&regionNames=|" + ctyrtext + "|" + citystext + "|" + areastext + "||&address=" + texts + "",
            "type": "PUT",
            "headers": {
                "authorization": "Bearer " + token + "",
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
                "postman-token": "143d68ce-6215-ffdb-ed15-e369ae57f1f2"
            },

        };

        $.ajax(settings).done(function (response) {
            layer.open({
                content: '更改成功'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            // alert('更改成功');
            window.location.href = "javascript:history.go(-1);";
        });
    }
</script>
</html>
