<html lang="zh-cn" ng-app="demoApp">

<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, target-densitydpi=device-dpi,maximum-scale=1.0, user-scalable=no,initial-scale=1" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<title>
		修改地址
	</title>
	<link href="css/weui.min.css" rel="stylesheet">
	<link href="css/jdtjdzcss.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/ionic.min.css" rel="stylesheet">
	<script src="js/stopIOS.js" type="text/javascript">
	</script>
	</link>
	</link>
	</link>
	</link>
	</meta>
	</meta>
	</meta>
</head>

<body ng-controller="DemoCtrl">
	<!--顶部返回 开始-->
	<style>
		.ng-cloak {
			display: none;
		}

		.back_fixed {
			width: 90%;
			margin: 0 auto;
			font-size: 0.15rem;
			padding: 0 5%;
			height: 0.44rem;
			line-height: 0.44rem;
			position: fixed;
			z-index: 99;
			top: 0;
			background: #fff;
			text-align: center;
			box-shadow: 0 5px 5px #cccccc;
		}

		.back_fixed .s-img {
			display: inline-block;
			position: relative;
			top: 0.12rem;
		}

		/*.container{margin-top:0.44rem;}*/

		.chose {
			/*display:block;*/
			margin-bottom: 8px;
		}

		.groupaddress {
			padding: 3.7% 0% 1.5% 1.5%;
			border-bottom: 1px solid #f3f3f3;
			position: relative;
		}

		.weui-cell:before {
			left: 0px;
		}

		.weui-select {
			width: 90%;
			background: url(images/more.png) no-repeat 97% center;
			background-size: 1rem 2rem;
		}

		.clearAdress {
			left: 305;
		}

		@media (max-width: 340px) {
			.weui-select {
				width: 88%;
			}
			.clearAdress {
				left: 250px;
			}
		}

		.sure {
			/*position: absolute;
			    bottom: 120px;
			    left: 5%;*/
			margin: 0 auto;
			width: 90%;
			font-size: 1.1rem;
			background: #f2f2f2;
			color: #333;
			margin-top: 10px;
		}

		.deleteAddress {
			/*position: absolute;
			    left: 5%;
			    bottom: 60px;*/
			margin: 10px auto 0;
			width: 90%;
			height: 50px;
			font-size: 18px;
			line-height: 50px;
			font-weight: 600;
			text-align: center;
			color: #fff;
			z-index: 999;
			background: #e53f40;
		}

		.weui-cell {
			padding: 0px;
			height: 50px;
			line-height: 50px;
			text-align: left;

		}
	</style>
	<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"  style="height:25px !important;">
  <div class="container">
    <div class="navbar-header"> <span class="navbar-brand" style="padding-left:0px;" onClick="window.history.go(-1);return false;"> <img alt="Brand" src="images/y-fanhui.png" style="width:60%;"> </span>
      <p class="navbar-text" style="color:#333;margin-left:41%;">编辑地址</p>
    </div>
    <div class="navbar-header navbar-right btn-group" style="position:absolute;left:80%;top:8%;"> <a class="navbar-brand"  ng-click="off()"> <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;"> </a> </div>
    <div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:23%;"> <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" > <img alt="Brand" src="./img/dian.png" style="width:60%;"> </a> </div>
    <div class="search-sort" id="header-search" style="width:200px;" > <em id="search-em"></em>
     <ul class="dropdown-menu search-sort-list" role="menu" style="position:absolute;left:65%;top:95%;z-index:9999;width:100px;">
                <li  ng-click="cart()"><span  style="margin-left:20px;"><img src="./img/shop.png" style="width:12%;"></span> <span style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"> <span style="margin-left:20px;"><img src="./img/user.png" style="width:12%;"></span>  <span style="position:relative;top:2%;">我的</span></li>
                </ul>
    </div>
  </div>
</nav> -->
	<!--顶部返回 结束-->
	<!--content start-->
	<div class="container" style="width:100%;height: 100%;">
		<!-- <div class="group">
			收件人<input type="text" name="name" id="name" value="">
			</div>
			<div class="group">
			联系电话<input type="text" name="phone" id="phone" value="" !(/^1[34578]\d{9}$/.test(phone))    <input type="number" name="age" ng-model="user.age" /> >
			</div> -->
		<div class="weui-cell">
			<div class="weui-cell__hd" style="text-align:left; width:20%">
				<label class="weui-label" style="">
					收件人
				</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" id="name" name="name" ng-model="name" value="name" placeholder="收件人" style="height: 40px;" type="text">
				</input>
			</div>
			<div style="width: 20px;height:20px;position: relative;right: 10px;">
				<img ng-click="DEoff()" src="./img/off.png" style="width: 20px;height: 20px;">
				</img>
			</div>
		</div>
		<div class="weui-cell" style="border-bottom:1px solid #d9d9d9;">
			<div class="weui-cell__hd" style="text-align:left; width:20%">
				<label class="weui-label" style="font-weight:normal;width: 63px;">
					手机号码
				</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" id="phone" name="phone" ng-model="phone" value="phone" placeholder="联系电话" style="height:40px;"
				 type="tel">
				</input>
			</div>
			<div style="width: 20px;height:20px;position: relative;right: 10px;">
				<img ng-click="DEphone()" src="./img/off.png" style="width: 20px;height: 20px;">
				</img>
			</div>
		</div>
		<div class="groupaddress ng-cloak" ng-cloak="">
			<span class="chose" style="width: 30%;">
				省份
			</span>
			<select class="weui-select" style="padding-left:10%" id="ctyr" onChange="get_son(1)">
				<option value="">
				</option>
			</select>
			<!--<a class="more" id="city" onClick="show_select()" ng-model="hundred">{{hundred}}</a>-->
			<!-- <div class="weui-cell weui-cell_select" id="c1" >
      <div class="weui-cell__bd">
        <select class="weui-select"  id="ctyr"  onChange="get_son()">
          <option  value=""></option>
        </select>
      </div>
    </div> -->
		</div>
		<div class="groupaddress ng-cloak" id="citysdiv" ng-cloak="">
			<span class="chose" style="width: 30%;">
				城市
			</span>
			<!--<a class="more" id="chosecity" onClick="show_city()" ng-model="city">{{city}}</a>-->
			<select class="weui-select" style="padding-left:10%" id="citys" onChange="get_city(1)" value="">
				<option>
					{{city}}
				</option>
			</select>
			<!-- <div id="c2" class="weui-cell weui-cell_select" >
	      <div class="weui-cell__bd">
	      </div>
	    </div> -->
		</div>
		<div class="groupaddress ng-cloak" id="areasdiv" ng-cloak="">
			<span class="chose" style="width: 30%;">
				区域
			</span>
			<!--<a class="more" id="chosearea" onClick="show_area()" ng-model="qu">{{qu}}</a>-->
			<select class="weui-select" style="padding-left:10%" id="areas" onChange="get_area()" value="">
				<option>
				</option>
			</select>
			<!-- <div id="c3" class="weui-cell weui-cell_select" >
      <div class="weui-cell__bd">
      </div>
    </div> -->
		</div>
		<div class="groupaddress ng-cloak" id="addresszhen" ng-cloak="">
			<span class="chose" style="width: 30%;">
				乡镇
			</span>
			<!--<a class="more" id="chosehome" onClick="show_home()" ng-model="town" >{{town}}</a>-->
			<!-- <a class="more" id="homeid" onClick="show_home()" ng-model="town" ng-if="town==!''">{{town}}</a> -->
			<select class="weui-select" style="padding-left:10%" id="home" onChange="get_home()" value="">
				<option>
				</option>
			</select>
			<!-- <div id="c4" class="weui-cell weui-cell_select" >
	      <div class="weui-cell__bd">
	      </div>
	    </div> -->
		</div>
		<div id="aaaaa">
		</div>
		<div>
			<!-- <input class="textarea"  id="texts" ng-model="texttext" placeholder="请填写详细地址（不包含省份城市区域）">
				<textarea class="textarea" style="width:100%;border:none;"name="name" ng-model="texttext" id="name" placeholder="请填写详细地址（不包含省份城市区域）"></textarea> -->
			<div style="width:100%; height:80px;">
				<input class="group" id="texts" name="name" ng-model="texttext" placeholder="请填写详细地址（不包含省份城市区域）" style="width:90%;border:none;margin-bottom:10px; height:50px; float:left"
				/>
				<div style="width: 20px;height:20px; float:right; margin-right:10px; margin-top:15px;">
					<img ng-click="DEadress()" src="./img/off.png" style="width: 20px;height: 20px; float:right">
					</img>
				</div>
			</div>
		</div>
		<div class="btn_group" style="height: 170px;">
			<div class="sure" onClick="sub()">
				确认
			</div>
			<div class="sure" ng-click="deleAddress()">
				删除地址
			</div>
		</div>
	</div>
	<!--content end-->
</body>
<script src="js/jquery.min.js"> </script>
<script src="angular/angular.min.js"> </script>
<script src="modules/address.js"></script>
<script src="js/jd.js"> </script>
<script src="layer/layer_mobile/layer.js"> </script>
<script type="text/javascript">
	$('#show').click(function () {
		$('.search-sort-list').toggle();
	});
	var json_params = {};
	var json_params2 = {};
	var json_params3 = {};
	var json_params4 = {};
	var proid;
	var cityid;
	var homeid;

	var str = location.href; //获取本页url地址namesku=1111554?num=1?price=379?numbers=1
	var arr = str.split("?");

	var str1 = arr[1];
	var str2 = arr[2];
	var str3 = arr[3];
	var str4 = arr[4];
	var str5 = arr[5];
	var str6 = arr[6];
	var str7 = arr[7];
	var str8 = arr[8];
	var str9 = arr[9];
	var str10 = arr[10];
	if (str1) { var id = str1.split("=")[1]; }
	if (str2) { var name = str2.split("=")[1]; }
	if (str3) { var phone = str3.split("=")[1]; }
	if (str4) { var regionIds = str4.split("=")[1]; }
	if (str5) { var regionNames = str5.split("=")[1]; }
	if (str6) { var address = str6.split("=")[1]; }
	if (str7) { var sku = str7.split("=")[1]; }
	if (str8) { var num = str8.split("=")[1]; }
	if (str9) { var price = str9.split("=")[1]; }
	if (str10) { var numbers = str10.split("=")[1]; }

	var urladdress = decodeURI(address);
	var urlname = decodeURI(name);
	var cityinfo = decodeURI(regionNames);
	var regionIdlists = cityinfo.split("|");
	var strd = regionIdlists[1];
	var strc = regionIdlists[2];
	var strqu = regionIdlists[3];
	var strtown = regionIdlists[4];
	var regionIdslist = regionIds.split("|");
	var strdid = regionIdslist[1];
	var strcid = regionIdslist[2];
	var strquid = regionIdslist[3];
	var strtid = regionIdslist[4];
	/*layer.open({
	type: 2
	,content: '加载中'
	,time: 2 //2秒后自动关闭
	});*/
	get_son(0);

	function show_select() {

		$('#city').hide();
		$('#c1').show();
	}
	function get_son(n) {

		var ds = $("#c1  option:selected").text();
		var id = $("#ctyr").val();

		if (id == "") {
			id = strdid;
		}

		$('#city').text(ds);
		$('#city').show();
		//$('#c1').hide();
		json_params2.id = id;


		// var vvv2 = do_api("biz.address.citysByProvinceId.query", json_params2);
		//console.log(vvv2);
		// var objs2 = JSON.parse(vvv2).biz_address_citysByProvinceId_query_response.result;
		var vvv2 = globalAddressFn.getCities(json_params2.id);
		var objs2 = vvv2.result;

		var html2 = '<option value="">请选择城市</option>';
		angular.forEach(objs2, function (index, data) {
			if (data == strc) {
				html2 += '<option value="' + index + '" selected>' + data + '</option>';
			}
			else {
				html2 += '<option value="' + index + '">' + data + '</option>';
			}
			$('#citys').html(html2);
		});
		get_city(0);
		//get_area();
		if (n == 1) {
			$('#areasdiv').hide();
			$('#addresszhen').hide();
		}
		return json_params2;
	}

	function show_city() {
		var id = $("#c1 option:selected").val();
		if (id == '') {
			layer.open({
				content: '请先选择省份'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

		} else {
			$('#chosecity').hide();
			$('#c2').show();
		}


	}
	function get_city(n) {
		var ds2 = $("#c2  option:selected").text();
		var id = $("#citys").val();
		if (id == "") {
			id = strcid;
		}
		$('#chosecity').text(ds2);
		$('#chosecity').show();
		//$('#c2').hide();
		cityid = json_params3.id;
		json_params3.id = id;
		// var vvv3 = do_api("biz.address.countysByCityId.query", json_params3);
		// var objs3 = JSON.parse(vvv3).biz_address_countysByCityId_query_response.result;
		var vvv3 = globalAddressFn.getCounties(json_params3.id);
		var objs3 = vvv3.result;

		var html3 = '<option value="">请选择区域</option>';
		angular.forEach(objs3, function (index, data) {
			if (data == strqu) {
				html3 += '<option value="' + index + '" selected>' + data + '</option>';
			}
			else {
				html3 += '<option value="' + index + '">' + data + '</option>';
			}
			$('#areas').html(html3);
		});
		get_area();
		$('#areasdiv').show();
		if (n == 1) {
			//$('#home').empty();
			$('#addresszhen').hide();
		}
		return json_params2;
	}

	function show_area() {
		var id = $("#c3 option:selected").val();
		if (id == '') {
			layer.open({
				content: '请先选择城市'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});


		} else {
			$('#chosearea').hide();
			$('#c3').show();
		}
	}
	function get_area() {
		$('#addresszhen').show();
		var ds3 = $("#c3  option:selected").text();
		var id = $("#areas").val();
		if (id == "") {
			id = strquid;
		}
		homeid = json_params4.id;
		json_params4.id = id;
		// var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
		// var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
		var vvv4 = globalAddressFn.getTowns(json_params4.id);
		var objs4 = vvv4.result;

		if (objs4 == null) {
			$("#home").empty();
			$("#addresszhen").hide();
		}
		else {
			$("#addresszhen").show();
		}
		var html4 = '<option value="0">请选择乡镇</option>';
		angular.forEach(objs4, function (index, data) {
			if (data == strtown) {
				html4 += '<option value="' + index + '" selected>' + data + '</option>';
			}
			else {
				html4 += '<option value="' + index + '">' + data + '</option>';
			}
			$('#home').html(html4);
		});
		$('#chosearea').text(ds3);
		$('#chosearea').show();
		// $('#c3').hide();

	}
	//========
	function show_home() {

		$('#chosehome').hide();
	}
	function get_home() {
		var ds4 = $("#c4  option:selected").text();
		var id = $("#home").val();

		homeid = json_params4.id;
		json_params4.id = id;
		// var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
		// var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
		var vvv4 = globalAddressFn.getTowns(json_params4.id);
		var objs4 = vvv4.result;
		console.log(objs4);
		angular.forEach(objs4, function (index, data) {

			html4 += '<option value="' + index + '">' + data + '</option>';
			$('#home').html(html4);
			console.log(html4);
		});
		$('#chosehome').text(ds4);
		$('#chosehome').show();
	}
	//======
	var app = angular.module('demoApp', []);
	app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http", function ($scope, $rootScope, $sce, $http) {
		$scope.name = urlname;
		$scope.phone = phone;
		$scope.texttext = urladdress;
		$scope.hundred = strd;
		$scope.city = strc;
		$scope.qu = strqu;
		$scope.town = strtown;
		// var vvv = do_api("biz.address.allProvinces.query", json_params);
		// $scope.cp_class = JSON.parse(vvv);

		// var objs = $scope.cp_class.biz_address_allProvinces_query_response.result;
		var vvv = globalAddressFn.getProvinces(json_params.id);
		var objs = vvv.result;


		//console.log(objs2);
		var html = '';//<option value="">请选择</option>';
		var html2 = '';
		var html3 = '';

		angular.forEach(objs, function (index, data) {
			if (data == strd) {
				html += '<option value="' + index + '" selected>' + data + '</option>';
			}
			else {
				html += '<option value="' + index + '">' + data + '</option>';
			}
			$('#ctyr').html(html);
		});
		$scope.DEoff = function () {
			$scope.name = "";
			return;
		}

		$scope.DEphone = function () {
			$scope.phone = ""; //$("#dephone").val("");
			return;
		}

		$scope.DEadress = function () {
			$scope.texttext = '';// $("#deadress").val("");
			return;
		}
		$scope.deleAddress = function () {

			layer.open({
				content: '确认要删除吗？'
				, btn: ['确定', '取消']
				, yes: function (index) {

					layer.close(index);

					var token = api();

					$http({
						async: true,
						crossDomain: true,
						method: "DELETE",
						url: "/jd/api/receiveraddresses/" + id + "",
						headers: { 'Authorization': "Bearer" + token + "", 'cache-control': "no-cache", 'content-type': "application/x-www-form-urlencoded", 'postman-token': '00a70b0c-0756-adfe-3928-af0e1bbdc95f' }  //请求头里会添加Authorization属性为'code_bunny'
					}).success(function (data, status, headers, config) {
						layer.open({
							content: '删除成功'
							, skin: 'msg'
							, time: 2//2秒后自动关闭tests
						});


						window.history.go(-1);
					}).error(function (data, status, headers, config) {

					});
				}
			});
		}
		$scope.number = function () {


			var names = $scope.phone;
			if (!(/^1[34578]\d{9}$/.test(names))) {
				layer.open({
					content: '删除成功'
					, skin: 'msg'
					, time: 2//2秒后自动关闭tests
				});


				return false;
			}

		};
		$scope.off = function () {


			window.location.href = "./closeInAppBrowser.html";

		};
		$scope.cart = function () {


			window.location.href = "./cart.html";

		};
		$scope.cartme = function () {


			window.location.href = "./mycart.html";

		};

	}]);
	function sub() {
		var str = location.href; //获取本页url地址
		var arr = str.split("?");
		var str1 = arr[1];
		if (str1) { var id = str1.split("=")[1]; }
		var token = api();
		var name = $('#name').val();
		if (name == '') {
			layer.open({
				content: '请输入收件人'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}
		var phone = $('#phone').val();
		// if(!(/(^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$)|(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/.test(phone))){
		if (isNaN(phone) || phone.length != 11) {
			layer.open({
				content: '手机号码有误，请重填'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}

		var texts = $('#texts').val();
		if (texts == '') {
			layer.open({
				content: '请输入详细地址'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}
		var ctyrval = $('#ctyr').val();
		var ctyrtext = $('#ctyr').find("option:selected").text();
		var citysval = $('#citys').find("option:selected").val();
		var citystext = $('#citys').find("option:selected").text();
		var areasval = $('#areas').find("option:selected").val();
		var areastext = $('#areas').find("option:selected").text();
		var homeval = $('#home').find("option:selected").val();
		var hometext = $('#home').find("option:selected").text();
		if (ctyrval == '') {
			layer.open({
				content: '请选择省份'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}
		//  alert(citysval);
		if (citysval == '') {
			layer.open({
				content: '请选择城市'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}
		if (areasval == '') {
			layer.open({
				content: '请选择区域'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});

			return false;
		}

		if (homeval == '0') {
			layer.open({
				content: '请选择乡镇'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});


			return false;
		}
		if (hometext == undefined) {
			hometext = '';
		}
		if (homeval == undefined) {
			homeval = 0;
		}

		var settings = {
			"async": false,
			"crossDomain": true,
			"url": "/jd/api/receiveraddresses/" + id + "?name=" + name + "&phone=" + phone + "&regionIds=|" + ctyrval + "|" + citysval + "|" + areasval + "|" + homeval + "|&regionNames=|" + ctyrtext + "|" + citystext + "|" + areastext + "|" + hometext + "|&address=" + texts + "",
			"type": "PUT",
			"headers": {
				"authorization": "Bearer " + token + "",
				"content-type": "application/x-www-form-urlencoded",
				"cache-control": "no-cache",
				"postman-token": "143d68ce-6215-ffdb-ed15-e369ae57f1f2"
			},

		};

		$.ajax(settings).done(function (response) {
			layer.open({
				content: '更改成功'
				, skin: 'msg'
				, time: 2//2秒后自动关闭tests
			});


			window.history.go(-1);
		});
	}
</script>

</html>