<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" type="text/css" href="css/sh.css"/>
<script type="text/javascript" src="js/stopIOS.js"></script>
</head>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index-wodedingdan.js"></script>
<style>
    .ng-cloak {
        display: none;
    }
     .write0{display:black;}
      .write1{display:none;}
</style>
<body>
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:25px !important;">
    <div class="container" style="background-color: #fff;">
        <div class="navbar-header"><span class="navbar-brand" onClick="javascript:window.history.back(-1);return false;"> <img alt="Brand" src="images/y-fanhui.png"
                                                                                          style="width:60%;"> </span>

            <p class="navbar-text" style="color:#333;margin-left:41%;font-size:16px;">申请售后</p>
        </div>
        <div class="navbar-header navbar-right btn-group" style="position:absolute;left:15%;top:-2%;"><a
                class="navbar-brand" ng-click="off()"> <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;">
        </a></div>
        <div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:13%;"><a
                class="navbar-brand dropdown-toggle" data-toggle="dropdown"> <img alt="Brand" src="./img/dian.png"
                                                                                  style="width:60%;"> </a></div>
        <div class="search-sort" id="header-search" style="width:200px;"><em id="search-em"></em>
            <ul class="dropdown-menu search-sort-list" role="menu"
                style="position:absolute;left:65%;top:95%;z-index:9999;width:100px;">
                <li ng-click="cart()"><span style="margin-left:20px;"><img src="./img/shop.png"
                                                                           style="width:12%;"></span> <span
                        style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"><span style="margin-left:20px;"><img src="./img/user.png"
                                                                             style="width:12%;"></span> <span
                        style="position:relative;top:2%;">我的</span></li>
            </ul>
        </div>
    </div>
</nav> -->

   
    <!-- 全部 -->
    <div ng-app="demoApp" ng-cloak>
       
        <div ng-controller="DemoCtrl" ng-cloak>
          <div>
            <!-- 待配送 -->
           <ul style="float:left;" ng-repeat="ilist in parrlist">
                    <input type="hidden" value="{{ilist.code}}" id="tu{{$index}}">
                </ul>
            </div>
       <!--   <div class="write{{write}}" style="margin:0 auto;position:absolute;top:42%;left:46%;z-index:999;"><img src="./images/wirt2.gif"></div> -->
            <div class="center12 ng-cloak" ng-cloak>
                <div class="order top1" ng-repeat="item in listss" ng-cloak ng-if="item.state==1" >
                    <div class="order-header" ng-cloak>
                        <div class="order-tit" ng-cloak>订单编号:</div>
                        <div class="order-id" ng-cloak>{{item.jdOrderId}}</div>
                       
                    </div>
                    <div class="order-header" ng-cloak>
                        <div class="order-tit" ng-cloak>下单时间:</div>
                        <div class="order-id" ng-cloak>{{item.createTime | date:'yyyy-MM-dd '}}</div>
                       <div class="order-info" ng-cloak >完成
                        </div>
                        
                    </div>

                    <div class="order-detail" ng-cloak>
                        <div class="order-img" ng-cloak><a href="./actions.html?sku={{item.sku}}?number=0"><img
                                src="http://img13.360buyimg.com/n0/{{item.imagePath}}"/></a></div>
                        <div class="order-title" ng-cloak><a
                                href="./actions.html?sku={{item.sku}}?number=0">{{item.name}}</a></div>
                        <div class="order-number" ng-cloak>
                            <div style='margin-top: 3px;'>￥{{item.price}}</div>
                            <p>{{item.skus[0].num}}</p>
                        </div>
                    </div>
                    <div class="order-money" ng-cloak> 共{{item.skus[0].num}}件商品&nbsp;合计:<span>￥{{item.price + item.freight}}</span>(含运费:{{item.freight}}.00)
                    </div>
                    <div class="order-btn" ng-cloak>
                        <a href="javascript:" ng-cloak ng-click="test(item)" class="orderBtn orderBtn-2">申请售后</a>
                        <a href="javascript:" ng-cloak ng-click="test(item)" class="orderBtn orderBtn-2">申请售后</a>
                    </div>
                </div>
            </div>
                <!-- 待付款 -->
           

        </div>
    </div>
     <div>
       
</body>
<script src="js/TouchSlide.js"></script>
<script src="angular/angular.min.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script src="js/jd.js"></script>
<script type="text/javascript"></script>
<script>
   $(".nav-wrap  li").click(function () {
        $(".center12").hide().eq($(this).index()).show();
    });
    $('#show').click(function(){
    $('.search-sort-list').toggle();
  });

        var str=location.href; //获取本页url地址
        var arr=str.split("?");
        var str1 = arr[1];
        if(str1){var sku=str1.split("=")[1];}
         
           var token = api();
    //var token = mc['access_token'];
    var app = angular.module('demoApp', []);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http","$filter", function ($scope, $rootScope, $sce, $http,$filter) {
       layer.open({
      type: 2
      ,content: '加载中'
      ,time: 2 //2秒后自动关闭
      });
        $scope.ordersku = sku;
         $scope.write =0;
        $http({
            async: false,
            crossDomain: true,
            method: 'GET',
            url: "/jd/api/orders",
            headers: {
                'Authorization': "Bearer" + token + "",
                'cache-control': "no-cache",
                'postman-token': '31b1fd14-4443-ec6a-a453-8eb4b68d25d8'
            }  //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        }).success(function (datas, status, headers, config) {

            //所有
            if(datas!==''){
                $scope.write =1;    
            }
            
            var arrlist = [];
            var arrsku = [];
            var arrorderid = [];
            var objs = datas.jdOrders;
            angular.forEach(objs, function (datalist, index, array) {

                var state = datalist.orderState;
                var stats = datalist.state;
                //全部所有
                var stateall = datalist;
                if(stats=='1'){
                   var stateOrderId = datalist.jdOrderId;
                   var stateOrderIdsku = datalist.skus[0].jdSkuId;
                   arrorderid.push(stateOrderId);
                   arrsku.push(stateOrderIdsku);
                }
               
                var stateallsku = datalist.skus;
                // console.log(stateOrderIdsku);
                // console.log(stateOrderId);
                angular.forEach(stateallsku, function (datalistall, index, array) {
                    var infosall = datalistall.jdSkuId;
                    var json_params = {};
                    json_params.sku = infosall;
                    var vvv = do_api("biz.product.detail.query", json_params);
                    $scope.cp_class = JSON.parse(vvv);
                    var listall = $scope.cp_class.biz_product_detail_query_response.result;
                    arrlist.push(angular.extend(listall, stateall));
                });
            });
          
                var storderid = arrorderid;
                var stsku = arrsku;
                var jdlist = [];
                var jdimg = [];
                  angular.forEach(storderid, function (orderid, index, array) {
                      var orderids = orderid;
                    
                $http({
                async: false,
                crossDomain: true,
                method: 'POST',
                url: "/jd/api/afterSale/serviceListPageQuery?jdOrderId="+orderids+"&pageSize=10&pageIndex=1",
                // url: "/api/orders",
                headers: {
                "authorization": "Bearer "+token+"",
                "cache-control": "no-cache",
                "postman-token": "12b63938-db8f-fa3d-7ee7-3125a1d151d6"
                }  //请求头里会添加Authorization属性为'code_bunny'indesssx.htmlserviceInfoList


                }).success(function (jdOrders, status, headers, config) {
                  var jdOrderlist = jdOrders.serviceInfoList;
                   angular.forEach(jdOrderlist, function (jdOrderlists, index, array) {
                      //  console.log(jdOrderlists.wareId); 
                      var jdOrdersd = jdOrderlists;
                        var jdids = jdOrderlists.wareId;
                        var json_params = {};
                        json_params.sku = jdids;
                        //console.log(json_params);
                        var vvv = do_api("biz.product.skuImage.query",json_params);
                        $scope.cp_class =  JSON.parse(vvv);
                        var list = $scope.cp_class.biz_product_skuImage_query_response.result[jdids][0].path; 
                       jdlist.push(jdOrdersd);
                       jdimg.push(list);
                    });
                    
                     $scope.jdlist= jdlist;
                     $scope.jdimg = jdimg;
                }).error(function (jdOrders, status, headers, config) {

                });          

                 });

            $scope.listss = arrlist;

            var startDate = Date.parse(new Date());
            var timestamp = startDate + 7 * 24 * 60 * 60 * 1000;
            $scope.timeend = timestamp;
            // console.log($scope.listss);
        }).error(function (data, status, headers, config) {
            layer.open({
                content: '用户信息错误'
                , skin: 'msg'
                , time: 1 //2秒后自动关闭
            });
            window.location.href = "./closeInAppBrowser.html";
        });
        //  $http({
        //   async: false,
        //   crossDomain: true,
        //   url: "/apijd/jd/afterSale/customerExpectQuery?jdOrderId=44061360767&skuId=555730",//有数据换成sku
        //   method: "POST",
        //   headers: {
        //  "authorization": "Bearer "+token+"",
        //   "cache-control": "no-cache",
        //   "postman-token": "dfb7b052-6d81-2042-5adc-f626a5c718cb"
        //   } //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        // }).success(function (datass, status, headers, config) {  
        //     //$scope.data = datass;
        //     var arr = [];
        //      angular.forEach(datass, function (datasslist, index, array) {
        //            // console.log(datasslist);
        //             arr.push(datasslist);
        //             //arrlist.push(angular.extend(listall, stateall));
        //         });
        //      $scope.parrlist = arr;
        //  //  console.log($scope.parrlist);
        //  }).error(function (data, status, headers, config) { 

        // });
    $scope.test=function(item){
       var jdid = item.jdOrderId;
       var sku = item.sku;
        var num = item.skus[0].num;
            $http({
          async: false,
          crossDomain: true,
          url: "/jd/api/afterSale/availableNumberQuery?jdOrderId="+jdid+"&skuId="+sku+"",//有数据换成sku
          method: "POST",
          headers: {
         "authorization": "Bearer "+token+"",
          "cache-control": "no-cache",
          "postman-token": "dfb7b052-6d81-2042-5adc-f626a5c718cb"
          } //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        }).success(function (data, status, headers, config) {  
          console.log(data);
         if (data==1) {
                $http({
          async: false,
          crossDomain: true,
          url: "/apijd/jd/afterSale/customerExpectQuery?jdOrderId="+jdid+"&skuId="+sku+"",//有数据换成sku
          method: "POST",
          headers: {
         "authorization": "Bearer "+token+"",
          "cache-control": "no-cache",
          "postman-token": "dfb7b052-6d81-2042-5adc-f626a5c718cb"
          } //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        }).success(function (datass, status, headers, config) {  
            //$scope.data = datass;
           // console.log(datass);
          var arrs = [];
             angular.forEach(datass, function (datasslist, index, array) {
                   //console.log(datasslist);
                    arrs.push(datasslist.code);
                    //arrlist.push(angular.extend(listall, stateall));
                });
             $scope.parrlist = arrs;
            // console.log(arrs);
         // console.log($scope.parrlist);

          var codeone = arrs[0];
          var codetwo = arrs[1];
          var codetherr = arrs[2];
          
           
          if (codetwo ==undefined) {
          var codetwo =1;
          }
          if (codetherr ==undefined ) {
          var codetherr =1;
          }
          window.location.href="./cback.html?jdOrders="+jdid+"?num="+num+"?codeone="+codeone+"?codetwo="+codetwo+"?codetherr="+codetherr+"?skuid="+sku+"";

         }).error(function (data, status, headers, config) { 

        });
         }else{
             layer.open({
                content: '该商品不能提交售后'
                , skin: 'msg'
                , time: 1 //2秒后自动关闭
            });
         }
         }).error(function (data, status, headers, config) { 

        });
         
       
       //console.log(arrs);
      //  //console.log(item.skus[0].num);
      //  var num = item.skus[0].num;
      //  var codeone = $('#tu0').val();
      //  var codetwo = $('#tu1').val();
      //  var codetherr = $('#tu2').val();
      // // console.log(codetwo);
      //   if (codetwo ==undefined) {
      //   var codetwo =1;
      //    }
      //  if (codetherr ==undefined) {
      //   var codetherr =1;
      //    }
      //  // console.log(codeone);
      //  window.location.href="./cback.html?jdOrders="+jdid+"?num="+num+"?codeone="+codeone+"?codetwo="+codetwo+"?codetherr="+codetherr+"";
    };
     $scope.testinfo=function(items){
      // console.log(items);
       var afid = items.afsServiceId;
       var orderid = items.orderId;
       var atime = items.afsApplyTime;
      window.location.href="./orderaf.html?afid="+afid+"?oid="+orderid+"?atime="+atime+"";

    };
    $scope.testover=function(items){
       // console.log(items);
        var afid = items.afsServiceId;
         var oid = items.orderId;
         window.location.href="./afover.html?afid="+afid+"?oid="+oid+"";
    };
       $scope.off=function(){

       //alert(111);
            window.location.href="./closeInAppBrowser.html";

        };
        $scope.cart=function(){

        
            window.location.href="./cart.html";

        };
        $scope.cartme=function(){

        
            window.location.href="./mycart.html";

        };
      
              

         }]);
       // var app = angular.module('demoApp', []);
       //  app.controller('DemoCtrl', ["$scope","$rootScope","$sce","$http", function ($scope, $rootScope, $sce,$http) {
     
       //      }]);
   
</script>
</html>
