<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" type="text/css" href="css/sh.css"/>
    <script type="text/javascript" src="js/stopIOS.js"></script>
</head>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index-wodedingdan.js"></script>
<style>
    .ng-cloak {
        display: none;
    }
     .write0{display:black;}
      .write1{display:none;}
      .p0{display:none;}
      .p1{display:black;}
      .q0{display:none;}
      .q1{display:black;}

    .shenqingTishi{
        display: none;
    }
    .show{
        display: block;
    }
    .spinner svg{
        stroke: #e85a5d;
        width: 40px;
        height: 40px;
    }
    .loading-container{
        position: absolute;
        /*background: #edecf0;*/
        top: 2.5rem;
        left: 1.7rem;
    }
    .loading-container .loading{
        /*background: #fff;*/
        padding: 0;
        width: 0.5rem;
        height: 0.5rem;
    }
	.order-btn .orderBtn {
    width: 80px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}
   .order-detail .order-number p {
    margin-top: 4px;
    color: #000;
    margin-bottom: 0px;
}
</style>
<body>
<div class="header-nav">
    <div style="background: #fff;">
        <div style="background:#f8f8f8;height: 1px;"></div>
        <ul class="nav-wrap clear">
            <li class="nav-1">售后申请</li>
            <li>进度查询</li>
        </ul>
    </div>
</div>
    <!-- 全部 -->
    <div ng-app="demoApp" style="margin-top:11px;" ng-cloak>
       
        <div ng-controller="DemoCtrl" ng-cloak>
          <div>
            <!-- 待配送 -->
           <ul style="float:left;" ng-repeat="ilist in parrlist">
                    <input type="hidden" value="{{ilist.code}}" id="tu{{$index}}">
                </ul>
            </div>
       <!--   <div class="write{{write}}" style="margin:0 auto;position:absolute;top:42%;left:46%;z-index:999;"><img src="./images/wirt2.gif"></div> -->
            <div class="center12 ng-cloak" ng-cloak>
             <div  ng-if="showTrue" style="margin:0 auto;position:absolute;top:35%;z-index:999;width:100%; text-align:center">
                <img src="./images/mycart.png" style="width:80px;">
                <div style="margin-top:1%;">
				<h4 style="font-size:0.14rem;color:#959595; width:100%; text-align:center; ">您暂无售后申请</h4>
				</div>
             </div>
                <div class="order top1" ng-repeat="item in listss" ng-cloak  >
                    <div class="order-header" style="padding-top:8px;" ng-cloak>
                        <div class="order-tit" ng-cloak>订单编号:</div>
                        <div class="order-id" ng-cloak>{{item.jdOrderId}}</div>
                       
                    </div>
                    <div class="order-header"  style=" padding-bottom:5px;" ng-cloak>
                        <div class="order-tit" ng-cloak>下单时间:</div>
                        <div class="order-id" ng-cloak style="font-size: 13px;">{{item.createTime | date:'yyyy-MM-dd '}}</div>
                       <div class="order-info" ng-cloak >交易成功
                        </div>
                        
                    </div>

                    <div class="order-detail" ng-cloak   ng-repeat="data in item.skus" style="position:relative; z-index:0">
                        <div class="order-img" ng-cloak><a href="./actions.html?sku={{data.jdSkuId}}?number=0"><img
                                src="{{data.jdSkuDetailsView.imgPath}}"/></a></div>
                        <div class="order-title" ng-cloak><a
                                href="./actions.html?sku={{data.jdSkuId}}?number=0">{{data.name}}</a></div>
                        <div class="order-number" ng-cloak>
                            <div style='margin-top: 3px;'>{{data.price|currency:'￥'}}</div>
                            <p>{{data.num}}</p>
                        </div>
						 <div class="order-btn" style="position:absolute;right:10px; bottom:10px; width:80px; height:26px; line-height:26px;" ng-cloak>
                        <a href="javascript:" ng-cloak ng-click="test(item,data.jdSkuId)" class="orderBtn orderBtn-2">申请售后</a>
                       
                         </div>
                    </div>
                    <div class="order-money" ng-cloak> 共{{item.skuNum}}件商品&nbsp;合计:<span>{{item.price + item.freight|currency:'￥'}}</span>(含运费:{{item.freight|number:2}})
                    </div>
                   
                </div>
            </div>
                <!-- 待付款 -->
            <div class="center12 ng-cloak" style="display:none;" ng-cloak>
            <div ng-if="q==1" style="margin:0 auto;position:absolute;top:35%;z-index:999; width:100%; text-align:center;"><img src="./images/mycart.png" style="width:80px;">
                <div style="margin-top:1%;">
                    <h4 style="font-size:0.14rem;color:#959595; width:100%; text-align:center; ">您暂无进度查询</h4>
                </div>
            </div>
            <div class="order top1" style=" padding-top:10px;" ng-repeat="items in jdlist"
                 ng-cloak>
                <div class="order-header" ng-cloak>
                    <div class="order-tit order-tit1" ng-cloak>服务单编号:</div>
                    <div class="order-id" ng-cloak>{{items.afsServiceId}}</div>

                </div>
                <div class="order-header" style=" padding-bottom:10px;"  ng-cloak>
                    <div class="order-tit order-tit1" ng-cloak>你的服务单状态:</div>
                    <div class="order-id" ng-cloak>{{items.afsServiceStepName}}</div>
                    <div class="order-info" ng-cloak >{{items.afsServiceStepName}}
                    </div>

                </div>
                <div class="order-detail"  ng-cloak>
                    <div class="order-img" ng-cloak><a ><img
                            src="http://img13.360buyimg.com/n0/{{jdimg[$index]}}"/></a></div>
                    <div class="order-title" ng-cloak> {{items.wareName}}</div>
                    <div class="order-number" ng-cloak>
                    </div>
                </div>
                <div class="order-money" ng-cloak>
                    申请日期：{{items.afsApplyTime}}
                </div>
                <div class="order-btn" ng-cloak>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='申请阶段'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='客服审核'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='商家审核'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='京东收货'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='商家收货'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='京东处理'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='商家处理'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testover(items)" ng-if="items.afsServiceStepName =='用户确认'" class="orderBtn orderBtn-2">取消申请</a>
                    <a href="javascript:" ng-cloak ng-click="testinfo(items)" class="orderBtn orderBtn-1">进度查询</a>

                </div>

            </div>
        </div>

    </div>
<div>

</body>
<script src="js/TouchSlide.js"></script>
<script src="angular/angular.min.js"></script>

<script src="modules/api-service.module.js"></script>
<script src="js/ionic.bundle.min.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script src="js/jd.js"></script>
<script type="text/javascript"></script>
<script>
    $(".nav-wrap  li").click(function () {
        $(".center12").hide().eq($(this).index()).show();
    });
    var  jingdu=sessionStorage.getItem("jingdu");
	console.log(jingdu);
    if(jingdu=='1'){
        sessionStorage.setItem("load",'');
        $(".nav-wrap li:eq(0)").removeClass("nav-1");
        $(".nav-wrap li:eq(1)").addClass("nav-1");
        $(".center12").hide().eq(1).show();

    }
    $('#show').click(function(){
        $('.search-sort-list').toggle();
    });

    var str=location.href; //获取本页url地址
    var arr=str.split("?");
    var str1 = arr[1];
    if(str1){var sku=str1.split("=")[1];}

    var token = api();
    //console.log(token);
    //var token = mc['access_token'];
    var app = angular.module('demoApp', ['ionic', 'JDApiService']);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http","$filter", "$ionicLoading",
        "skuImage",
        function ($scope, $rootScope, $sce, $http,$filter,$ionicLoading, skuImageService) {
//      layer.open({
//            type: 2
//            ,content: '加载中'
//            ,time: 2 //2秒后自动关闭
//            });
        $ionicLoading.show({
            template:'<ion-spinner icon="android"></ion-spinner>',
            //content: '正在加载...',
            animation: 'fade-in',
            showBackdrop: false,
            maxWidth: 200,
            showDelay: 0
        });
        $scope.p=0;
        $scope.q=0;
        $scope.ordersku = sku;
        $scope.write =0;
        $http({
            async: false,
            crossDomain: true,
            method: 'GET',
            url: "/jd/api/order/afterSale?pageNum=1&pageSize=80",
            headers: {
                'Authorization': "Bearer" + token + "",
                'cache-control': "no-cache",
                'postman-token': '31b1fd14-4443-ec6a-a453-8eb4b68d25d8'
            }  //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        }).success(function (datas, status, headers, config) {
            //所有
            
            if(datas!==''){
                $scope.write =1;
            }else{
                $scope.showTrue = true;
				 $scope.q =1;
            }

            if (datas.jdOrders && datas.jdOrders.length === 0) {
                $scope.showTrue = true;
            }

            var arrlist = [];
            var arrsku = [];
            var arrorderid = [];
            // var arrnump = [];
            var objs = datas.jdOrders;
            angular.forEach(objs, function (datalist, index, array) {

                var state = datalist.orderState;
                var stats = datalist.state;
                //全部所有

                var stateall = datalist;
                if(stats=='1'){
                    var stateOrderId = datalist.jdOrderId;
                    var stateOrderIdsku = datalist.skus[0].jdSkuId;
                    arrorderid.push(stateOrderId);
                    arrsku.push(stateOrderIdsku);
                }

            });

            var storderid = arrorderid;

            var stsku = arrsku;
            var jdlist = [];
            var jdimg = [];
            var orderids ='';
                  angular.forEach(storderid, function (orderid, index, array) {
                       orderids =orderids+orderid+",";
                  });
				 if(orderids.substr(orderids.length-1,1)==','){
				 orderids=orderids.substr(0,orderids.length-1);
				 }
                $http({
                    async: false,
                    crossDomain: true,
                    method: 'GET',
                    url: "/jd/api/after/sale/serviceInfoList?jdOrderIds="+orderids,
                    // {{jdServiceUrl}}/api/afterSale/serviceListPageQuery?jdOrderId=52906283362&pageSize=10&pageIndex=1
                    // // url: "/api/orders",
                    headers: {
                        "authorization": "Bearer "+token+"",
                        "cache-control": "no-cache",
                        "postman-token": "12b63938-db8f-fa3d-7ee7-3125a1d151d6"
                    }  //请求头里会添加Authorization属性为'code_bunny'indesssx.htmlserviceInfoList


                }).success(function (jdOrders, status, headers, config) {
                    var jdOrderlist = jdOrders.serviceInfoList;
                    angular.forEach(jdOrderlist, function (jdOrderlists, index, array) {
                        var jdOrdersd = jdOrderlists;
                        var jdids = jdOrderlists.wareId;
                        var json_params = {};
                        json_params.sku = jdids;
                        jdlist.push(jdOrdersd);

                        skuImageService.get(jdids).then(res => {
                            jdimg.push(res[0].path);
                        })
                    });

                    $scope.jdlist= jdlist;
                    if (jQuery.isEmptyObject($scope.jdlist)) {
                        $scope.q =1;
                    }else{
                        $scope.q =0;
                    }
                    $scope.jdimg = jdimg;
                }).error(function (jdOrders, status, headers, config) {
                    console.log(jdOrders+status);
                });

            

            $scope.listss = datas.jdOrders;
            $ionicLoading.hide();
            if(arrsku!==''){
                $scope.p =0;
            }else {
                $scope.p =1;
            }
            var startDate = Date.parse(new Date());
            var timestamp = startDate + 7 * 24 * 60 * 60 * 1000;
            $scope.timeend = timestamp;
        }).error(function (data, status, headers, config) {
            layer.open({
                content: '用户信息错误'
                , skin: 'msg'
                , time: 1 //2秒后自动关闭
            });
            window.location.href = "./closeInAppBrowser.html";
        });
       
    $scope.test=function(item,jdSkuId){
       var jdid = item.jdOrderId;
	  // console.log(item);
       var sku = item.skus[0].jdSkuId;
        var num = item.skus[0].num;
        //var token = api();
            $http({
          async: false,
          crossDomain: true,
          url: "/jd/api/afterSale/availableNumberQuery?jdOrderId="+jdid+"&skuId="+jdSkuId+"",//有数据换成sku
          method: "POST",
          headers: {
         "authorization": "Bearer "+token+"",
          "cache-control": "no-cache",
          "postman-token": "dfb7b052-6d81-2042-5adc-f626a5c718cb"
          } //请求头里会添加Authorization属性为'code_bunny'indesssx.html

        }).success(function (data, status, headers, config) {  
		 console.log(data);
         if (data==1) {
          console.log(token);
            $http({
              async: false,
              crossDomain: true,
              url: "/jd/api/afterSale/customerExpectQuery?jdOrderId="+jdid+"&skuId="+jdSkuId+"",//有数据换成sku
              method: "POST",
              headers: {
             "authorization": "Bearer "+token+"",
              "cache-control": "no-cache",
              "postman-token": "dfb7b052-6d81-2042-5adc-f626a5c718cb"
              } //请求头里会添加Authorization属性为'code_bunny'indesssx.html

            }).success(function (datass, status, headers, config) {  
                //$scope.data = datass;
                console.log(datass);
			if(datass.code=="0000"){
			
			}
              var arrs = [];
                 angular.forEach(datass.body, function (datasslist, index, array) {
                      // console.log(datasslist);
                        arrs.push(datasslist);
                        //arrlist.push(angular.extend(listall, stateall));
                    });
                 $scope.parrlist = arrs;
                 console.log(arrs);
             // console.log($scope.parrlist);
				sessionStorage.setItem("code",JSON.stringify(arrs));
              //var codeone = arrs[0];
//			  console.log(codeone.code);
//              var codetwo = arrs[1];
//              var codetherr = arrs[2];
//              
//               
//              if (codetwo ==undefined) {
//              var codetwo =1;
//              }
//              if (codetherr ==undefined ) {
//              var codetherr =1;
//              }
           window.location.href="./cback.html?jdOrders="+jdid+"?num="+num+"?skuid="+jdSkuId+"";


             }).error(function (data, status, headers, config) {
			
                layer.open({
                content: data.msg
                , skin: 'msg'
                , time: 1 //2秒后自动关闭
            });
            });
         }else{
		     if (data==0) {
				 layer.open({
					content: '售后次数已用完！'
					, skin: 'msg'
					, time: 1 //2秒后自动关闭
				});
			 
			 }
			 else{
             layer.open({
                content: data.msg
                , skin: 'msg'
                , time: 1 //2秒后自动关闭
            });
			}
         }
         }).error(function (data, status, headers, config) { 
			
                layer.open({
                    content: data.msg
                    , skin: 'msg'
                    , time: 1 //2秒后自动关闭
                });
            });
        };
        $scope.testinfo=function(items){
            var afid = items.afsServiceId;
            var orderid = items.orderId;
            var atime = items.afsApplyTime;
			sessionStorage.setItem("jingdu",'1');
            window.location.href="./orderaf.html?afid="+afid+"?oid="+orderid+"?atime="+atime+"";
        };
        $scope.testover=function(items){
            var afid = items.afsServiceId;
            var oid = items.orderId;
            window.location.href="./afover.html?afid="+afid+"?oid="+oid+"";
        };
        $scope.off=function(){
            window.location.href="./closeInAppBrowser.html";
        };
        $scope.cart=function(){
            window.location.href="./cart.html";
        };
        $scope.cartme=function(){
            window.location.href="./mycart.html";
        };
        $scope.block=0;
        $(function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
            var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isAndroid) {
                //alert("安卓果机！")
                $scope.block=1;
            }
            if (isIOS) {
                //alert("苹果果机！")
                $scope.block=0;
            }
        });
    }]);
    app.directive('slideDelete', function() {
        return {
            restrict: 'AE',
            scope: {
                text: "@",
                ondelete: "&"
            },
            link: function (scope, element, attrs) {
                (function($){
                    $.fn.slideable = function(options){
                        var self = this;
                        self.options = options;
                        self.left = 0;
                        self.down = 0;
                        self.pressed = false;
                        self.bindobj = options.bindobj || self;
                        self.bindobj.bind("mousedown",function(event){ onmousedown(self, event); })
                        self.bindobj.bind("mousemove",function(event){ onmousemove(self, event); })
                        self.bindobj.bind("mouseup" ,function(event){ onmouseup (self, event); })
                        self.bindobj[0].addEventListener('touchstart', function(event) { onmousedown(self, {screenX: event.changedTouches[0].pageX}); })
                        self.bindobj[0].addEventListener('touchmove' , function(event) { onmousemove(self, {screenX: event.changedTouches[0].pageX}); })
                        self.bindobj[0].addEventListener('touchend' , function(event) { onmouseup (self, {screenX: event.changedTouches[0].pageX}); })
                        return this;
                    }
                    function onmousedown(self, event){
                        self.down = event.screenX;
                        self.options.onmousedown && self.options.onmousedown(self);
                        self.left = self.options.getLeft && self.options.getLeft(self) || 0;
                        self.pressed = true;
                    }
                    function onmousemove(self, event){
                        self.pressed && self.options.setLeft && self.options.setLeft(self, self.left + event.screenX - self.down);
                    }
                    function onmouseup(self, event){
                        self.pressed = false;
                        self.left += event.screenX - self.down;
                        self.options.onslide && self.options.onslide(self, self.left);
                    }
                })(jQuery);

                var w = $(element).outerWidth ();//应显示的宽度
                var h = $(element).outerHeight();//应显示的高度
                //按钮宽度
                var btn_w = 60;
                //设计按钮：
                scope.btn = $('<div class="del-btn" ng-click="remove(index)" style="position:absolute;z-index:5998;right:0;top:4px;width:'+btn_w+'px;height:'+'1.15'+'rem;color:#fff;background-color:#e22f2f;text-align:center;line-height:1.15rem">'+(scope.text||'删除')+'</div>');
                //改造行,用一个绝对定位div将内容包裹起来
                $(element).contents().wrapAll('<div new_box style="position:absolute;z-index:5999;left:0;top:0;width:'+w+'px;height:'+1.23+'rem;background-color:#ffffff;padding-left:10px;"></div>');
                $(element).css({overflow:"hidden", position:"relative", "z-index":5999}).append(scope.btn).slideable({
                    getLeft: function(self){return self.children(":first-child").position().left;},
                    setLeft: function(self, x){ self.children(":first-child").css({left: x<-btn_w && -btn_w || x<0 && x || 0});},
                    onslide: function(self, x){
                        scope.open = x < -btn_w / 2;
                        self.css("z-index", scope.open && 6001 || 5999);
                        //背景，点击收起
                        // var bk = $.fixedBackground(1, scope.open);
                        // scope.open && bk.data("self", self).click(function(){
                        // var self = bk.data("self");
                        // $.fixedBackground(6000, false);
                        // self && self.css("z-index", 5999).children(":first-child").animate({left: 0},100);
                        // });
                        //点击非 delete button 区域收起
                        document.addEventListener("touchstart", function(evt) {
                            var ele = $(evt.target);
                            if (ele.hasClass("del-btn")  || ele.closest(".del-btn").length == 0) {
                                if( ele.hasClass("del-btn") ) {
                                    remove(index);
                                }
                                //console.log("scope.open" + scope.open);
                                self.children(":first-child").animate({left: 0},100);
                            }
                            if ( evt.target.nodeName == 'LI' ) {
                                $('.soft_wrapper').show();
                            }else {
                                $('.soft_wrapper').hide();
                            }
                        });
                    }
                })
                //按钮事件
                scope.btn.click(function(){
                    scope.ondelete && scope.ondelete();
                    $(element).hide(500);
                });
            }
        };
    });
    $(window).load(function() {
        $(".strip").fadeOut(2);
    })
</script>
</html>
