<html lang="zh-cn" ng-app="demoApp">

<head>
    <meta charset="UTF-8">
    <title>添加新地址</title>
    <link rel="stylesheet" href="css/weui.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/jdtjdzcss.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script type="text/javascript" src="js/stopIOS.js"></script>
</head>

<body ng-controller="DemoCtrl" style="font-size:16px;">
    <!--顶部返回 开始-->
    <style>
        .chose {
            -display: block;
            margin-bottom: 8px;
        }

        .groupaddress {
            padding: 3.7% 0% 1.5% 1.5%;
            border-bottom: 1px solid #f3f3f3;
            position: relative;
        }

        .weui-select {
            width: 88%;
            /*background: url(images/more.png) no-repeat 94% center;
*/
            background-size: 1rem 2.5rem;
        }

        @media (max-width: 340px) {
            .weui-select {
                width: 87%;
            }
        }

        .weui-cell:before {
            left: 0px;
        }

        .btn_group {
            width: 100%;
            text-align: center;
            height: 100px;
            line-height: 100px;
        }

        .sure {
            /*position: absolute;
			    bottom: 120px;
			    left: 5%;*/
            margin: 0 auto;
            width: 90%;
            font-size: 1.4rem;
            background: #f2f2f2;
            color: #333;
            margin-top: 10px;
        }

        .deletEdit {
            margin-left: 15px;
            display: block;
            width: 9rem;
            height: 40px;
            background: #e53f40;
            line-height: 40px;
            font-size: 1.2rem;
            text-align: center;
            color: #fff;
            float: left;
        }
    </style>
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="height:25px !important;">
    <div class="container">
         <div class="navbar-header"><span class="navbar-brand" onClick="javascript:window.history.go(-1);return false;"> <img alt="Brand" src="images/y-fanhui.png" style="width:60%;"> </span>

            <p class="navbar-text" style="color:#1c1c1c;font-family:PingFangSC-Medium;margin-left:41%;">添加地址</p>
        </div>
        <div class="navbar-header navbar-right btn-group" style="position:absolute;left:90%;top:-2%;"><a
                class="navbar-brand" ng-click="off()"> <img alt="Brand" src="./images/y-guanbi.png" style="width:60%;">
        </a></div> -->
    <!--<div class="navbar-header navbar-right" id="show" style="position:absolute;left:90%;top:13%;"><a
                class="navbar-brand dropdown-toggle" data-toggle="dropdown"> <img alt="Brand" src="./img/dian.png"
                                                                                  style="width:60%;"> </a></div>
        <div class="search-sort" id="header-search" style="width:200px;"><em id="search-em"></em>
            <ul class="dropdown-menu search-sort-list" role="menu"
                style="position:absolute;left:65%;top:95%;z-index:9999;width:100px;">
                <li ng-click="cart()"><span style="margin-left:20px;"><img src="./img/shop.png"
                                                                           style="width:12%;"></span> <span
                        style="position:relative;top:2%;">购物车</span></li>
                <li role="presentation" class="divider"></li>
                <li ng-click="cartme()"><span style="margin-left:20px;"><img src="./img/user.png"
                                                                             style="width:12%;"></span> <span
                        style="position:relative;top:2%;">我的</span></li>
            </ul>
        </div>
    </div>
</nav>-->
    <!--顶部返回 结束-->
    <!--content start-->
    <div class="container" style="width:100%;height: 100%;">
        <div class="weui-cell" style="padding-left: 0;">
            <div class="weui-cell__hd" style="text-align:left; width:20%">
                <span class="weui-label" style="font-weight:normal;width: 85px;">收件人</span>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="name" name="name" ng-model="name" placeholder="收件人">
            </div>
        </div>
        <div class="weui-cell" style="border-bottom:1px solid #d9d9d9;padding-left: 0;">
            <div class="weui-cell__hd" style="text-align:left; width:20%">
                <span class="weui-label" style="font-weight:normal;width: 85px;">手机号</span>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="phone" name="phone" ng-model="phone" placeholder="联系电话">
            </div>
        </div>
        <div class="groupaddress ng-cloak" ng-cloak>
            <!-- <select class="weui-select" name="username" id="ctyr" onChange="get_son()">
            <option value=""></option>
        </select> -->
            <!--<a class="more" id="city" onClick="show_select()" ng-model="hundred">{{hundred}}</a>-->
            <div class="weui-cell weui-cell_select" id="c1">
                <div class="weui-cell__bd">
                    <span class="chose" style="width: 30%;">省份</span>
                    <select class="weui-select" style="padding-left:7%" name="username" id="ctyr" onChange="get_son()">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div id="addresscheng" style="display: none;" class="groupaddress ng-cloak" ng-cloak>
            <!-- <select class="weui-select" value="" onChange="get_city()" id="citys">
            <option></option>
        </select> -->

            <div id="c2" class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <span class="chose" style="width: 30%;">城市</span>
                    <select class="weui-select" style="padding-left:7%" value="" onChange="get_city()" id="citys">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div id="addressqu" style="display: none;" class="groupaddress ng-cloak" ng-cloak>
            <!-- <select class="weui-select" value="" onChange="get_area()" id="areas">
            <option></option>
        </select> -->
            <div id="c3" class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <span class="chose" style="width: 30%;">区域</span>
                    <select class="weui-select" style="padding-left:7%" value="" onChange="get_area()" id="areas">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div id="addresszhen" style="display: none;" class="groupaddress ng-cloak" ng-cloak>
            <!-- <select class="weui-select" value="" onChange="get_home()" id="home">
            <option></option>
        </select> -->

            <div id="c4" class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <span class="chose" style="width: 30%;">乡镇</span>
                    <select class="weui-select" style="padding-left:7%" value="" onChange="get_home()" id="home">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
        <div id="aaaaa"></div>
        <div>
            <input class="group" style="width:100%;border:none;margin-bottom:10px;" name="name" id="texts" placeholder="请填写详细地址（不包含省份城市区域）"
            />
        </div>
        <div class="btn_group" style="height: 170px;">
            <div class="sure" onClick="sub()">
                确认
            </div>
        </div>
    </div>
    <!--content end-->
</body>
<script src="js/jquery.min.js"></script>
<script src="angular/angular.min.js"></script>

<script src="modules/address.js"></script>

<script src="js/jd.js"></script>
<script src="layer/layer_mobile/layer.js"></script>
<script type="text/javascript">

    $('#show').click(function () {
        $('.search-sort-list').toggle();
    });
    /*    layer.open({
    type: 2
    ,content: '加载中'
    ,time: 2 //2秒后自动关闭
    });*/
    /**
     *
     */
    var json_params = {};
    var json_params2 = {};
    var json_params3 = {};
    var json_params4 = {};
    var json_params5 = {};
    var proid;
    var cityid;
    var homeid;
    var submiting = false;

    // alert($('#ctyr').find("option:selected").text());
    function show_select() {
        $('#city').hide();
        $('#c1').show();
    }
    function get_son() {

        var ds = $("#c1  option:selected").text();
        var id = $("#c1  option:selected").val();
        $('#city').text(ds);
        $('#city').show();
        $('#addresscheng').show();
        $('#addressqu').hide();
        console.log('hide addresszhen')
        $('#addresszhen').hide();

        json_params2.id = id;

        var vvv2 = globalAddressFn.getCities(json_params2.id);

        var objs2 = vvv2.result;
        var html2 = '<option value="">请选择</option>';
        angular.forEach(objs2, function (index, data) {

            html2 += '<option value="' + index + '">' + data + '</option>';
            $('#citys').html(html2);
        });

        return json_params2;
    }

    function get_city() {
        var ds2 = $("#c2  option:selected").text();
        var id = $("#c2 option:selected").val();
        if (id == '') {
            $('#addressqu').hide();
        } else {
            $('#addressqu').show();
        }
        $('#chosecity').text(ds2);
        $('#chosecity').show();
        $('#addresszhen').hide();

        // $('#c2').hide();
        cityid = json_params3.id;
        json_params3.id = id;
        // var vvv3 = do_api("biz.address.countysByCityId.query", json_params3);
        // var objs3 = JSON.parse(vvv3).biz_address_countysByCityId_query_response.result;
        if (json_params3.id) {
            var vvv3 = globalAddressFn.getCounties(json_params3.id);
            var objs3 = vvv3.result;
            var html3 = '<option value="">请选择</option>';
            angular.forEach(objs3, function (index, data) {
                html3 += '<option value="' + index + '">' + data + '</option>';
                $('#areas').html(html3);
            });

        }

        return json_params2;
    }


    function show_area() {
        var id = $("#c3 option:selected").val();

        if (id == '') {
            layer.open({
                content: '请先选择城市'
                , skin: 'msg'
                , time: 5 //2秒后自动关闭
            });
        } else {
            $('#chosearea').hide();
            $('#c3').show();
        }

    }
    function get_area() {

        var ds3 = $("#c3  option:selected").text();
        var id = $("#c3 option:selected").val();

        homeid = json_params4.id;
        json_params4.id = id;
        // var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
        if (json_params4.id) {
            var vvv4 = globalAddressFn.getTowns(json_params4.id);
            var objs4 = vvv4.result;
            if (objs4 == null) {
                $("#home").empty();
                $("#addresszhen").hide();
            }
            else {
                $("#addresszhen").show();
            }
            var html4 = '<option value="0">请选择</option>';
            angular.forEach(objs4, function (index, data) {
                // alert(121);
                html4 += '<option value="' + index + '">' + data + '</option>';
                $('#home').html(html4);
            });

        }
        // var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
        //console.log(objs4);
        $('#chosearea').text(ds3);
        $('#chosearea').show();
        //$('#c3').hide();

    }
    function show_home() {

        $('#chosehome').hide();
        $('#c4').show();
    }
    function get_home() {
        var ds4 = $("#c4  option:selected").text();
        var id = $("#c4 option:selected").val();
        homeid = json_params4.id;
        json_params4.id = id;
        // var vvv4 = do_api("biz.address.townsByCountyId.query", json_params4);
        var vvv4 = globalAddressFn.getTowns(json_params4.id);
        // var objs4 = JSON.parse(vvv4).biz_address_townsByCountyId_query_response.result;
        var objs4 = vvv4.result;

        angular.forEach(objs4, function (index, data) {
            html4 += '<option value="' + index + '">' + data + '</option>';
            $('#home').html(html4);
        });
        $('#chosehome').text(ds4);
        $('#chosehome').show();
        //$('#c4').hide();
    }
    var app = angular.module('demoApp', []);
    app.controller('DemoCtrl', ["$scope", "$rootScope", "$sce", "$http", function ($scope, $rootScope, $sce, $http) {
        // var vvv = do_api("biz.address.allProvinces.query", json_params);
        var vvv = globalAddressFn.getProvinces(json_params.id);
        // $scope.cp_class = JSON.parse(vvv);
        // $scope.cp_class2 =  JSON.parse(vvv2);
        // $scope.cp_class3 =  JSON.parse(vvv3);

        // var objs = $scope.cp_class.biz_address_allProvinces_query_response.result;
        // var objs2=$scope.cp_class2.biz_address_citysByProvinceId_query_response.result;
        // var objs3=$scope.cp_class3.biz_address_countysByCityId_query_response.result;
        var objs = vvv.result;

        //console.log(objs2);
        var html = '<option value="">请选择</option>';
        var html2 = '';
        var html3 = '';

        angular.forEach(objs, function (index, data) {

            html += '<option value="' + index + '">' + data + '</option>';
            $('#ctyr').html(html);
        });
        // angular.forEach(objs2, function(index,data){
        //    html2+= '<option value="'+index+'">'+data+'</option>';
        //    $('#citys').html(html2);
        // });
        // angular.forEach(objs3, function(index,data){
        //    html3+= '<option value="'+index+'">'+data+'</option>';
        //    $('#areas').html(html3);

        // });
        /* $scope.off = function () {
             window.location.href = "./closeInAppBrowser.html";
         };
         $scope.cart = function () {
             window.location.href = "./cart.html";
         };
         $scope.cartme = function () {
             window.location.href = "./mycart.html";
         };*/
    }]);
    function deleteEdit() {
        window.location.href = "javascript:history.go(-1);";
    }
    function sub() {
        var str = location.href; //获取本页url地址
        var arr = str.split("?");
        var str1 = arr[1];
        if (str1) {
            var id = str1.split("=")[1];
        }
        var token = api();


        var name = $('#name').val();
        if (name == '') {
            layer.open({
                content: '请输入收件人'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }
        var phone = $('#phone').val();
        // if(!(/(^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$)|(^0{0,1}1[3|4|5|6|7|8|9][0-9]{9}$)/.test(phone))){
        if (isNaN(phone) || phone.length != 11) {
            layer.open({
                content: '请输入手机号码'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }
        //省份
        var ctyrval = $('#ctyr').val();
        var ctyrtext = $('#ctyr').find("option:selected").text();
        if (ctyrtext == '请选择') {
            layer.open({
                content: '请选择省份'
                , skin: 'msg'
                , time: 2 //2秒后自动关闭
            });
            return false;
        }
        //城市
        var citysval = $('#citys').find("option:selected").val();
        var citystext = $('#citys').find("option:selected").text();

        if (citystext == '请选择') {
            layer.open({
                content: '请选择城市'
                , skin: 'msg'
                , time: 2 //2秒后自动关闭
            });
            return false;
        }
        //区域
        var areasval = $('#areas').find("option:selected").val();
        var areastext = $('#areas').find("option:selected").text();

        if (areastext == '请选择') {
            layer.open({
                content: '请选择区域'
                , skin: 'msg'
                , time: 2 //2秒后自动关闭
            });
            return false;
        }
        //乡镇
        var homeval = $('#home').find("option:selected").val();
        var hometext = $('#home').find("option:selected").text();
        if (hometext == '请选择') {
            layer.open({
                content: '请选择乡镇'
                , skin: 'msg'
                , time: 2 //2秒后自动关闭
            });
            return false;
        }
        if (homeval == undefined) {
            var homeval = 0;
        };
        if (hometext == '') {
            var hometext = '';
        }
        var texts = $('#texts').val();
        if (texts == '') {
            layer.open({
                content: '请输入详细地址'
                , skin: 'msg'
                , time: 4 //2秒后自动关闭
            });
            return false;
        }

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/jd/api/receiveraddresses",
            type: "POST",
            "headers": {
                "authorization": "Bearer " + token + "",
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
                "postman-token": "d4ba7361-5434-8616-b89e-acc7da4cc430"
            },
            "data": {
                "name": name,
                "phone": phone,
                "regionIds": "|" + ctyrval + "|" + citysval + "|" + areasval + "|" + homeval + "|",
                "regionNames": "|" + ctyrtext + "|" + citystext + "|" + areastext + "|" + hometext + "|",
                "address": "" + texts + ""
            }
        };
        if (submiting) return;
        submiting = true;
        $.ajax(settings).done(function (response) {
            //console.log(response);
            //alert(response);
            submiting = false;
            layer.open({
                content: '添加地址成功'
                , skin: 'msg'
                , time: 3 //2秒后自动关闭
            });
            window.location.href = "javascript:history.go(-1);";
        }).fail(function (response) {
            submiting = false;
            layer.open({
                content: '用户信息错误'
                , skin: 'msg'
                , time: 3 //2秒后自动关闭
            });
            window.location.href = "./closeInAppBrowser.html";
        });

    }
</script>

</html>